#-------------------------------------------------------------------------
# XEM5010 - Xilinx constraints file
#
# Pin mappings for the XEM5010.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2009 Opal Kelly Incorporated
# $Rev$ $Date$
#-------------------------------------------------------------------------

#-------------------------------
# FrontPanel Host Interface pins
#-------------------------------
NET "hi_in<0>"      LOC="AD13" | IOSTANDARD="LVCMOS33";
NET "hi_in<1>"      LOC="AD15" | IOSTANDARD="LVCMOS33";
NET "hi_in<2>"      LOC="AD14" | IOSTANDARD="LVCMOS33";
NET "hi_in<3>"      LOC="AB12" | IOSTANDARD="LVCMOS33";
NET "hi_in<4>"      LOC="Y8"   | IOSTANDARD="LVCMOS33";
NET "hi_in<5>"      LOC="AA8"  | IOSTANDARD="LVCMOS33";
NET "hi_in<6>"      LOC="AA17" | IOSTANDARD="LVCMOS33";
NET "hi_in<7>"      LOC="AB17" | IOSTANDARD="LVCMOS33";
NET "hi_out<0>"     LOC="AC14" | IOSTANDARD="LVCMOS33";
NET "hi_out<1>"     LOC="AC11" | IOSTANDARD="LVCMOS33";
NET "hi_inout<0>"   LOC="AD18" | IOSTANDARD="LVCMOS33";
NET "hi_inout<1>"   LOC="AC18" | IOSTANDARD="LVCMOS33";
NET "hi_inout<2>"   LOC="AB10" | IOSTANDARD="LVCMOS33";
NET "hi_inout<3>"   LOC="AB9"  | IOSTANDARD="LVCMOS33";
NET "hi_inout<4>"   LOC="AC17" | IOSTANDARD="LVCMOS33";
NET "hi_inout<5>"   LOC="AC16" | IOSTANDARD="LVCMOS33";
NET "hi_inout<6>"   LOC="AC8"  | IOSTANDARD="LVCMOS33";
NET "hi_inout<7>"   LOC="AC9"  | IOSTANDARD="LVCMOS33";
NET "hi_inout<8>"   LOC="Y12"  | IOSTANDARD="LVCMOS33";
NET "hi_inout<9>"   LOC="Y13"  | IOSTANDARD="LVCMOS33";
NET "hi_inout<10>"  LOC="AA15" | IOSTANDARD="LVCMOS33";
NET "hi_inout<11>"  LOC="AB14" | IOSTANDARD="LVCMOS33";
NET "hi_inout<12>"  LOC="AA12" | IOSTANDARD="LVCMOS33";
NET "hi_inout<13>"  LOC="AB11" | IOSTANDARD="LVCMOS33";
NET "hi_inout<14>"  LOC="AA13" | IOSTANDARD="LVCMOS33";
NET "hi_inout<15>"  LOC="AA14" | IOSTANDARD="LVCMOS33";
NET "hi_muxsel"     LOC="AB15" | IOSTANDARD="LVCMOS33";

NET "led<0>"        LOC="AD10" | IOSTANDARD="LVCMOS33";
NET "led<1>"        LOC="AC12" | IOSTANDARD="LVCMOS33";
NET "led<2>"        LOC="AD11" | IOSTANDARD="LVCMOS33";
NET "led<3>"        LOC="AC13" | IOSTANDARD="LVCMOS33";
