############################################################################
# XEM6310MT - Xilinx constraints file
#
# Pin mappings for the XEM6310.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2010 Opal Kelly Incorporated
# $Rev$ $Date$
############################################################################
CONFIG VCCAUX = "3.3"; //Required for Spartan-6

NET "okUH[0]" TNM_NET = "okHostClk";
TIMESPEC "TS_okHostClk" = PERIOD "okHostClk" 9.92 ns HIGH 50%;

NET "okUHU[*]" TNM = "okHostINOUT_grp";
TIMEGRP "okHostINOUT_grp" OFFSET = IN 2 ns VALID 4 ns BEFORE "okUH[0]" RISING;
TIMEGRP "okHostINOUT_grp" OFFSET = OUT 8 ns AFTER "okUH[0]" RISING;

NET "okHU[2]" TNM = "okHostOUT_grp";
NET "okHU[0]" TNM = "okHostOUT_grp";
NET "okHU[1]" TNM = "okHostOUT_grp";
TIMEGRP "okHostOUT_grp" OFFSET = OUT 8 ns AFTER "okUH[0]" RISING;

NET "okUH[4]"   TNM = "okHostIN_grp";
NET "okUH[3]"   TNM = "okHostIN_grp";
NET "okUH[2]"   TNM = "okHostIN_grp";
NET "okUH[1]"   TNM = "okHostIN_grp";
TIMEGRP "okHostIN_grp" OFFSET = IN 2 ns VALID 2 ns BEFORE "okUH[0]" RISING;

############################################################################
## System Clocks                                                        
############################################################################
NET "sys_clkp"      LOC=Y11       | IOSTANDARD=LVDS_25;
NET "sys_clkn"      LOC=AB11      | IOSTANDARD=LVDS_25;

NET "sys_clkp" TNM_NET = "okSysClk";
TIMESPEC "TS_okSysClk" = PERIOD "okSysClk" 10 ns HIGH 50%;

############################################################################
## FrontPanel Host Interface
############################################################################
NET "okHU[0]"     LOC="AA14"      | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okHU[1]"     LOC="Y14"       | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okHU[2]"     LOC="AB10"      | IOSTANDARD="LVCMOS18" | SLEW="FAST";

NET "okUH[0]"     LOC="U12"       | IOSTANDARD="LVCMOS18";
NET "okUH[1]"     LOC="W10"       | IOSTANDARD="LVCMOS18";
NET "okUH[2]"     LOC="AB7"       | IOSTANDARD="LVCMOS18";
NET "okUH[3]"     LOC="Y9"        | IOSTANDARD="LVCMOS18";
NET "okUH[4]"     LOC="W17"       | IOSTANDARD="LVCMOS18";

NET "okUHU<0>"       LOC="AB12"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<1>"       LOC="AA12"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<2>"       LOC="Y13"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<3>"       LOC="AB18"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<4>"       LOC="AA18"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<5>"       LOC="AB19"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<6>"       LOC="U6"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<7>"       LOC="T7"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<8>"       LOC="W9"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<9>"       LOC="AB5"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<10>"      LOC="Y5"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<11>"      LOC="AB6"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<12>"      LOC="AA6"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<13>"      LOC="T14"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<14>"      LOC="R13"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<15>"      LOC="AA20"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<16>"      LOC="AB16"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<17>"      LOC="U15"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<18>"      LOC="V15"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<19>"      LOC="T15"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<20>"      LOC="Y15"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<21>"      LOC="AA16"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<22>"      LOC="U14"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<23>"      LOC="U13"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<24>"      LOC="AA8"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<25>"      LOC="AB15"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<26>"      LOC="W15"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<27>"      LOC="AB9"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<28>"      LOC="Y7"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<29>"      LOC="AB17"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<30>"      LOC="W13"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<31>"      LOC="V13"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";

NET "okAA"          LOC="W11"     | IOSTANDARD="LVCMOS18";


############################################################################
## Expansion Connectors                                                         
############################################################################
NET "xbusp[0]"   LOC=C20  | IOSTANDARD=LVCMOS33; #JP2-16
NET "xbusp[1]"   LOC=B21  | IOSTANDARD=LVCMOS33; #JP2-15
NET "xbusp[2]"   LOC=F21  | IOSTANDARD=LVCMOS33; #JP2-20
NET "xbusp[3]"   LOC=E20  | IOSTANDARD=LVCMOS33; #JP2-19
NET "xbusp[4]"   LOC=H21  | IOSTANDARD=LVCMOS33; #JP2-24
NET "xbusp[5]"   LOC=G19  | IOSTANDARD=LVCMOS33; #JP2-23
NET "xbusp[6]"   LOC=H18  | IOSTANDARD=LVCMOS33; #JP2-28
NET "xbusp[7]"   LOC=G20  | IOSTANDARD=LVCMOS33; #JP2-27
NET "xbusp[8]"   LOC=H16  | IOSTANDARD=LVCMOS33; #JP2-32
NET "xbusp[9]"   LOC=J20  | IOSTANDARD=LVCMOS33; #JP2-31
NET "xbusp[10]"  LOC=K20  | IOSTANDARD=LVCMOS33; #JP2-38
NET "xbusp[11]"  LOC=K21  | IOSTANDARD=LVCMOS33; #JP2-37
NET "xbusp[12]"  LOC=J16  | IOSTANDARD=LVCMOS33; #JP2-42
NET "xbusp[13]"  LOC=J19  | IOSTANDARD=LVCMOS33; #JP2-41
NET "xbusp[14]"  LOC=K17  | IOSTANDARD=LVCMOS33; #JP2-46
NET "xbusp[15]"  LOC=K19  | IOSTANDARD=LVCMOS33; #JP2-45
NET "xbusp[16]"  LOC=M16  | IOSTANDARD=LVCMOS33; #JP2-50
NET "xbusp[17]"  LOC=M21  | IOSTANDARD=LVCMOS33; #JP2-49
NET "xbusp[18]"  LOC=M20  | IOSTANDARD=LVCMOS33; #JP2-54
NET "xbusp[19]"  LOC=L15  | IOSTANDARD=LVCMOS33; #JP2-53
NET "xbusp[20]"  LOC=P20  | IOSTANDARD=LVCMOS33; #JP2-60
NET "xbusp[21]"  LOC=N20  | IOSTANDARD=LVCMOS33; #JP2-59
NET "xbusp[22]"  LOC=T21  | IOSTANDARD=LVCMOS33; #JP2-64
NET "xbusp[23]"  LOC=P21  | IOSTANDARD=LVCMOS33; #JP2-63
NET "xbusp[24]"  LOC=U20  | IOSTANDARD=LVCMOS33; #JP2-68
NET "xbusp[25]"  LOC=R20  | IOSTANDARD=LVCMOS33; #JP2-67
NET "xbusp[26]"  LOC=Y21  | IOSTANDARD=LVCMOS33; #JP2-72
NET "xbusp[27]"  LOC=V21  | IOSTANDARD=LVCMOS33; #JP2-71
NET "xbusp[28]"  LOC=W20  | IOSTANDARD=LVCMOS33; #JP2-76

NET "xbusn[0]"   LOC=C22  | IOSTANDARD=LVCMOS33; #JP2-18
NET "xbusn[1]"   LOC=B22  | IOSTANDARD=LVCMOS33; #JP2-17
NET "xbusn[2]"   LOC=F22  | IOSTANDARD=LVCMOS33; #JP2-22
NET "xbusn[3]"   LOC=E22  | IOSTANDARD=LVCMOS33; #JP2-21
NET "xbusn[4]"   LOC=H22  | IOSTANDARD=LVCMOS33; #JP2-26
NET "xbusn[5]"   LOC=F20  | IOSTANDARD=LVCMOS33; #JP2-25
NET "xbusn[6]"   LOC=H19  | IOSTANDARD=LVCMOS33; #JP2-30
NET "xbusn[7]"   LOC=G22  | IOSTANDARD=LVCMOS33; #JP2-29
NET "xbusn[8]"   LOC=H17  | IOSTANDARD=LVCMOS33; #JP2-34
NET "xbusn[9]"   LOC=J22  | IOSTANDARD=LVCMOS33; #JP2-33
NET "xbusn[10]"  LOC=L19  | IOSTANDARD=LVCMOS33; #JP2-40
NET "xbusn[11]"  LOC=K22  | IOSTANDARD=LVCMOS33; #JP2-39
NET "xbusn[12]"  LOC=J17  | IOSTANDARD=LVCMOS33; #JP2-44
NET "xbusn[13]"  LOC=H20  | IOSTANDARD=LVCMOS33; #JP2-43
NET "xbusn[14]"  LOC=L17  | IOSTANDARD=LVCMOS33; #JP2-48
NET "xbusn[15]"  LOC=K18  | IOSTANDARD=LVCMOS33; #JP2-47
NET "xbusn[16]"  LOC=N15  | IOSTANDARD=LVCMOS33; #JP2-52
NET "xbusn[17]"  LOC=M22  | IOSTANDARD=LVCMOS33; #JP2-51
NET "xbusn[18]"  LOC=M19  | IOSTANDARD=LVCMOS33; #JP2-58
NET "xbusn[19]"  LOC=K16  | IOSTANDARD=LVCMOS33; #JP2-57
NET "xbusn[20]"  LOC=N19  | IOSTANDARD=LVCMOS33; #JP2-62
NET "xbusn[21]"  LOC=N22  | IOSTANDARD=LVCMOS33; #JP2-61
NET "xbusn[22]"  LOC=T22  | IOSTANDARD=LVCMOS33; #JP2-66
NET "xbusn[23]"  LOC=P22  | IOSTANDARD=LVCMOS33; #JP2-65
NET "xbusn[24]"  LOC=U22  | IOSTANDARD=LVCMOS33; #JP2-70
NET "xbusn[25]"  LOC=R22  | IOSTANDARD=LVCMOS33; #JP2-69
NET "xbusn[26]"  LOC=Y22  | IOSTANDARD=LVCMOS33; #JP2-74
NET "xbusn[27]"  LOC=V22  | IOSTANDARD=LVCMOS33; #JP2-73
NET "xbusn[28]"  LOC=W22  | IOSTANDARD=LVCMOS33; #JP2-75

NET "ybusp[0]"   LOC=C19  | IOSTANDARD=LVCMOS33; #JP3-16
NET "ybusp[1]"   LOC=B20  | IOSTANDARD=LVCMOS33; #JP3-15
NET "ybusp[2]"   LOC=C17  | IOSTANDARD=LVCMOS33; #JP3-20
NET "ybusp[3]"   LOC=B18  | IOSTANDARD=LVCMOS33; #JP3-19
NET "ybusp[4]"   LOC=C4   | IOSTANDARD=LVCMOS33; #JP3-24
NET "ybusp[5]"   LOC=C5   | IOSTANDARD=LVCMOS33; #JP3-23
NET "ybusp[6]"   LOC=B2   | IOSTANDARD=LVCMOS33; #JP3-28
NET "ybusp[7]"   LOC=B3   | IOSTANDARD=LVCMOS33; #JP3-27
NET "ybusp[8]"   LOC=D4   | IOSTANDARD=LVCMOS33; #JP3-32
NET "ybusp[9]"   LOC=C3   | IOSTANDARD=LVCMOS33; #JP3-31
NET "ybusp[10]"  LOC=D18  | IOSTANDARD=LVCMOS33; #JP3-38
NET "ybusp[11]"  LOC=E5   | IOSTANDARD=LVCMOS33; #JP3-37
NET "ybusp[12]"  LOC=D17  | IOSTANDARD=LVCMOS33; #JP3-42
NET "ybusp[13]"  LOC=G8   | IOSTANDARD=LVCMOS33; #JP3-41
NET "ybusp[14]"  LOC=F7   | IOSTANDARD=LVCMOS33; #JP3-46
NET "ybusp[15]"  LOC=G9   | IOSTANDARD=LVCMOS33; #JP3-45
NET "ybusp[16]"  LOC=H13  | IOSTANDARD=LVCMOS33; #JP3-50
NET "ybusp[17]"  LOC=H10  | IOSTANDARD=LVCMOS33; #JP3-49
NET "ybusp[18]"  LOC=H14  | IOSTANDARD=LVCMOS33; #JP3-54
NET "ybusp[19]"  LOC=F14  | IOSTANDARD=LVCMOS33; #JP3-53
NET "ybusp[20]"  LOC=E16  | IOSTANDARD=LVCMOS33; #JP3-60
NET "ybusp[21]"  LOC=G16  | IOSTANDARD=LVCMOS33; #JP3-59
NET "ybusp[22]"  LOC=M17  | IOSTANDARD=LVCMOS33; #JP3-64
NET "ybusp[23]"  LOC=P17  | IOSTANDARD=LVCMOS33; #JP3-63
NET "ybusp[24]"  LOC=N16  | IOSTANDARD=LVCMOS33; #JP3-68
NET "ybusp[25]"  LOC=R17  | IOSTANDARD=LVCMOS33; #JP3-67
NET "ybusp[26]"  LOC=R15  | IOSTANDARD=LVCMOS33; #JP3-72
NET "ybusp[27]"  LOC=T19  | IOSTANDARD=LVCMOS33; #JP3-71
NET "ybusp[28]"  LOC=U19  | IOSTANDARD=LVCMOS33; #JP3-76

NET "ybusn[0]"   LOC=A19  | IOSTANDARD=LVCMOS33; #JP3-18
NET "ybusn[1]"   LOC=A20  | IOSTANDARD=LVCMOS33; #JP3-17
NET "ybusn[2]"   LOC=A17  | IOSTANDARD=LVCMOS33; #JP3-22
NET "ybusn[3]"   LOC=A18  | IOSTANDARD=LVCMOS33; #JP3-21
NET "ybusn[4]"   LOC=A4   | IOSTANDARD=LVCMOS33; #JP3-26
NET "ybusn[5]"   LOC=A5   | IOSTANDARD=LVCMOS33; #JP3-25
NET "ybusn[6]"   LOC=A2   | IOSTANDARD=LVCMOS33; #JP3-30
NET "ybusn[7]"   LOC=A3   | IOSTANDARD=LVCMOS33; #JP3-29
NET "ybusn[8]"   LOC=D5   | IOSTANDARD=LVCMOS33; #JP3-34
NET "ybusn[9]"   LOC=D3   | IOSTANDARD=LVCMOS33; #JP3-33
NET "ybusn[10]"  LOC=D19  | IOSTANDARD=LVCMOS33; #JP3-40
NET "ybusn[11]"  LOC=E6   | IOSTANDARD=LVCMOS33; #JP3-39
NET "ybusn[12]"  LOC=C18  | IOSTANDARD=LVCMOS33; #JP3-44
NET "ybusn[13]"  LOC=F9   | IOSTANDARD=LVCMOS33; #JP3-43
NET "ybusn[14]"  LOC=F8   | IOSTANDARD=LVCMOS33; #JP3-48
NET "ybusn[15]"  LOC=F10  | IOSTANDARD=LVCMOS33; #JP3-47
NET "ybusn[16]"  LOC=G13  | IOSTANDARD=LVCMOS33; #JP3-52
NET "ybusn[17]"  LOC=H11  | IOSTANDARD=LVCMOS33; #JP3-51
NET "ybusn[18]"  LOC=G15  | IOSTANDARD=LVCMOS33; #JP3-58
NET "ybusn[19]"  LOC=F15  | IOSTANDARD=LVCMOS33; #JP3-57
NET "ybusn[20]"  LOC=F16  | IOSTANDARD=LVCMOS33; #JP3-62
NET "ybusn[21]"  LOC=F17  | IOSTANDARD=LVCMOS33; #JP3-61
NET "ybusn[22]"  LOC=M18  | IOSTANDARD=LVCMOS33; #JP3-66
NET "ybusn[23]"  LOC=P18  | IOSTANDARD=LVCMOS33; #JP3-65
NET "ybusn[24]"  LOC=P16  | IOSTANDARD=LVCMOS33; #JP3-70
NET "ybusn[25]"  LOC=T17  | IOSTANDARD=LVCMOS33; #JP3-69
NET "ybusn[26]"  LOC=R16  | IOSTANDARD=LVCMOS33; #JP3-74
NET "ybusn[27]"  LOC=T18  | IOSTANDARD=LVCMOS33; #JP3-73
NET "ybusn[28]"  LOC=T20  | IOSTANDARD=LVCMOS33; #JP3-75

############################################################################
## Peripherals
############################################################################

# LEDs ################################################################
NET "led[0]"     LOC="U16"    | IOSTANDARD=LVCMOS18;
NET "led[1]"     LOC="W18"    | IOSTANDARD=LVCMOS18;
NET "led[2]"     LOC="Y18"    | IOSTANDARD=LVCMOS18;
NET "led[3]"     LOC="V17"    | IOSTANDARD=LVCMOS18;
NET "led[4]"     LOC="Y17"    | IOSTANDARD=LVCMOS18;
NET "led[5]"     LOC="Y16"    | IOSTANDARD=LVCMOS18;
NET "led[6]"     LOC="W12"    | IOSTANDARD=LVCMOS18;
NET "led[7]"     LOC="V11"    | IOSTANDARD=LVCMOS18;
