#-------------------------------------------------------------------------
# XEM9002 - Xilinx constraints file
#
# Pin mappings for the XEM3005.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2006 Opal Kelly Incorporated
# $Rev$ $Date$
#-------------------------------------------------------------------------

#-------------------------------
# FrontPanel Host Interface pins
#-------------------------------
NET "hi_in<0>"     LOC = "P123";
NET "hi_in<1>"     LOC = "P44";
NET "hi_in<2>"     LOC = "P56";
NET "hi_in<3>"     LOC = "P32";
NET "hi_in<4>"     LOC = "P22";
NET "hi_in<5>"     LOC = "P21";
NET "hi_in<6>"     LOC = "P20";
NET "hi_in<7>"     LOC = "P17";
NET "hi_out<0>"    LOC = "P43";
NET "hi_out<1>"    LOC = "P26";
NET "hi_inout<0>"  LOC = "P50";
NET "hi_inout<1>"  LOC = "P51";
NET "hi_inout<2>"  LOC = "P52";
NET "hi_inout<3>"  LOC = "P53";
NET "hi_inout<4>"  LOC = "P54";
NET "hi_inout<5>"  LOC = "P58";
NET "hi_inout<6>"  LOC = "P59";
NET "hi_inout<7>"  LOC = "P63";
NET "hi_inout<8>"  LOC = "P15";
NET "hi_inout<9>"  LOC = "P14";
NET "hi_inout<10>" LOC = "P8";
NET "hi_inout<11>" LOC = "P7";
NET "hi_inout<12>" LOC = "P5";
NET "hi_inout<13>" LOC = "P2";
NET "hi_inout<14>" LOC = "P3";
NET "hi_inout<15>" LOC = "P4";

NET "hi_muxsel"    LOC = "P62";

#-------------------------------
# PLL Clock pins
#-------------------------------
NET "clk1"         LOC = "P128";

# --- LEDs
NET "led<0>"       LOC = "P70";
NET "led<1>"       LOC = "P68";
NET "led<2>"       LOC = "P67";
NET "led<3>"       LOC = "P74";
