#-------------------------------------------------------------------------
# XEM3005 - Xilinx constraints file
#
# Pin mappings for the XEM3005.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2006 Opal Kelly Incorporated
# $Rev$ $Date$
#-------------------------------------------------------------------------

#-------------------------------
# FrontPanel Host Interface pins
#-------------------------------
NET "hi_in<0>"     LOC = "F9";
NET "hi_in<1>"     LOC = "N5";
NET "hi_in<2>"     LOC = "T9";
NET "hi_in<3>"     LOC = "M7";
NET "hi_in<4>"     LOC = "P12";
NET "hi_in<5>"     LOC = "P11";
NET "hi_in<6>"     LOC = "P13";
NET "hi_in<7>"     LOC = "N12";
NET "hi_out<0>"    LOC = "P5";
NET "hi_out<1>"    LOC = "N10";
NET "hi_inout<0>"  LOC = "M8";
NET "hi_inout<1>"  LOC = "L8";
NET "hi_inout<2>"  LOC = "T8";
NET "hi_inout<3>"  LOC = "N8";
NET "hi_inout<4>"  LOC = "P8";
NET "hi_inout<5>"  LOC = "P9";
NET "hi_inout<6>"  LOC = "N9";
NET "hi_inout<7>"  LOC = "M9";
NET "hi_inout<8>"  LOC = "R11";
NET "hi_inout<9>"  LOC = "R6";
NET "hi_inout<10>" LOC = "T5";
NET "hi_inout<11>" LOC = "T4";
NET "hi_inout<12>" LOC = "R4";
NET "hi_inout<13>" LOC = "M6";
NET "hi_inout<14>" LOC = "N6";
NET "hi_inout<15>" LOC = "P6";
NET "hi_muxsel"    LOC = "L9";
NET "i2c_sda"      LOC = "G15" | PULLUP;
NET "i2c_scl"      LOC = "G16" | PULLUP;

NET "led<0>"       LOC = "P14";
NET "led<1>"       LOC = "R13";
NET "led<2>"       LOC = "T13";
NET "led<3>"       LOC = "P15";

NET "button"     LOC = "C9";  # JP3_72
