#-------------------------------------------------------------------------
# XEM9002 - Xilinx constraints file
#
# Pin mappings for the XEM3005.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2006 Opal Kelly Incorporated
# $Rev$ $Date$
#-------------------------------------------------------------------------

#-------------------------------
# FrontPanel Host Interface pins
#-------------------------------
NET "hi_in<0>"     LOC = "P123";
NET "hi_in<1>"     LOC = "P44";
NET "hi_in<2>"     LOC = "P56";
NET "hi_in<3>"     LOC = "P32";
NET "hi_in<4>"     LOC = "P22";
NET "hi_in<5>"     LOC = "P21";
NET "hi_in<6>"     LOC = "P20";
NET "hi_in<7>"     LOC = "P17";
NET "hi_out<0>"    LOC = "P43";
NET "hi_out<1>"    LOC = "P26";
NET "hi_inout<0>"  LOC = "P50";
NET "hi_inout<1>"  LOC = "P51";
NET "hi_inout<2>"  LOC = "P52";
NET "hi_inout<3>"  LOC = "P53";
NET "hi_inout<4>"  LOC = "P54";
NET "hi_inout<5>"  LOC = "P58";
NET "hi_inout<6>"  LOC = "P59";
NET "hi_inout<7>"  LOC = "P63";
NET "hi_inout<8>"  LOC = "P15";
NET "hi_inout<9>"  LOC = "P14";
NET "hi_inout<10>" LOC = "P8";
NET "hi_inout<11>" LOC = "P7";
NET "hi_inout<12>" LOC = "P5";
NET "hi_inout<13>" LOC = "P2";
NET "hi_inout<14>" LOC = "P3";
NET "hi_inout<15>" LOC = "P4";

NET "hi_muxsel"    LOC = "P62";

#-------------------------------
# PLL Clock pins
#-------------------------------
NET "clk1"         LOC = "P128";
NET "clk2"         LOC = "P122";
#NET "clk3"         LOC = "P129";
#NET "gclk10"       LOC = "P130";
#NET "gclk11"       LOC = "P131";

#-------------------------------
# Peripherals
#-------------------------------

# --- SPI FLASH
#NET "spi_cs"       LOC = "P44";
#NET "spi_clk"      LOC = "P77";
#NET "spi_din"      LOC = "P75";
#NET "spi_dout"     LOC = "P76";
#NET "spi_hold"     LOC = "P82";
#NET "spi_wp"       LOC = "P81";

# --- LEDs
NET "led<0>"       LOC = "P70";
NET "led<1>"       LOC = "P68";
NET "led<2>"       LOC = "P67";
NET "led<3>"       LOC = "P74";

#-------------------------------
# DISPLAY
#-------------------------------
#NET "display<0>"     LOC = "P106"; # JP2-4
#NET "display<1>"     LOC = "P105"; # JP2-5
#NET "display<2>"     LOC = "P104"; # JP2-6
#NET "display<3>"     LOC = "P103"; # JP2-7
#NET "display<4>"     LOC = "P98"; # JP2-8
#NET "display<5>"     LOC = "P97"; # JP2-9
#NET "display<6>"     LOC = "P96"; # JP2-10
#NET "display<7>"     LOC = "P94"; # JP2-11
#NET "display<8>"     LOC = "P93"; # JP2-12
#NET "display<9>"     LOC = "P92"; # JP2-13
#NET "display<10>"    LOC = "P91"; # JP2-14

#-------------------------------
# BUTTON
#-------------------------------
#NET "button<0>"     LOC = "P125"; # JP3-1
#NET "button<1>"     LOC = "P124"; # JP3-2
#NET "button<2>"     LOC = "P117"; # JP3-3
#NET "button<3>"     LOC = "P116"; # JP3-4
#NET "button<4>"     LOC = "P113"; # JP3-5
#NET "button<5>"     LOC = "P112"; # JP3-6

#-------------------------------
# EXP
#-------------------------------
#NET "exp<0>"     LOC = "P135"; # JP1-5
#NET "exp<1>"     LOC = "P139"; # JP1-7
#NET "exp<2>"     LOC = "P140"; # JP1-9
#NET "exp<3>"     LOC = "P143"; # JP1-10

#-------------------------------
# SW
#-------------------------------
#NET "sw<0>"     LOC = "P34"; # JP1-11
#NET "sw<1>"     LOC = "P35"; # JP1-12
#NET "sw<2>"     LOC = "P29"; # JP1-13
#NET "sw<3>"     LOC = "P10"; # JP1-14
