NET "hi_in<0>"			LOC = "P79";
NET "hi_in<1>"			LOC = "P57";
NET "hi_in<2>"			LOC = "P58";
NET "hi_in<3>"			LOC = "P78";
NET "hi_in<4>"			LOC = "P61";
NET "hi_in<5>"			LOC = "P62";
NET "hi_in<6>"			LOC = "P63";
NET "hi_in<7>"			LOC = "P64";
NET "hi_out<0>"		LOC = "P81";
NET "hi_out<1>"		LOC = "P85";
NET "hi_inout<0>"		LOC = "P67";
NET "hi_inout<1>"		LOC = "P68";
NET "hi_inout<2>"		LOC = "P72";
NET "hi_inout<3>"		LOC = "P74";
NET "hi_inout<4>"		LOC = "P86";
NET "hi_inout<5>"		LOC = "P87";
NET "hi_inout<6>"		LOC = "P90";
NET "hi_inout<7>"		LOC = "P92";
NET "hi_inout<8>"		LOC = "P93";
NET "hi_inout<9>"		LOC = "P94";
NET "hi_inout<10>"	LOC = "P95";
NET "hi_inout<11>"	LOC = "P96";
NET "hi_inout<12>"	LOC = "P97";
NET "hi_inout<13>"	LOC = "P100";
NET "hi_inout<14>"	LOC = "P101";
NET "hi_inout<15>"	LOC = "P102";

NET "clk1"		LOC = "P80";

NET "led<0>"  LOC = "P205";
NET "led<1>"  LOC = "P204";
NET "led<2>"  LOC = "P203";
NET "led<3>"  LOC = "P200";
NET "led<4>"  LOC = "P199";
NET "led<5>"  LOC = "P198";
NET "led<6>"  LOC = "P197";
NET "led<7>"  LOC = "P196";
