############################################################################
# XEM6110v2 - Xilinx constraints file
#
# Pin mappings for the XEM6110v2.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2010 Opal Kelly Incorporated
# $Rev$ $Date$
############################################################################
CONFIG VCCAUX = "3.3"; //Required for Spartan-6

############################################################################
## FrontPanel Host Interface
############################################################################
NET "okGH[0]"   LOC=Y13  | IOSTANDARD=DIFF_SSTL18_I;
NET "okGH[1]"   LOC=AB13 | IOSTANDARD=DIFF_SSTL18_I;
NET "okGH[2]"   LOC=W12  | IOSTANDARD=DIFF_SSTL18_I;
NET "okGH[3]"   LOC=Y12  | IOSTANDARD=DIFF_SSTL18_I;
NET "okGH[4]"   LOC=Y16  | IOSTANDARD=SSTL18_I;
NET "okGH[5]"   LOC=AB17 | IOSTANDARD=SSTL18_I;
NET "okGH[6]"   LOC=AA18 | IOSTANDARD=SSTL18_I;
NET "okGH[7]"   LOC=Y18  | IOSTANDARD=SSTL18_I;
NET "okGH[8]"   LOC=AB19 | IOSTANDARD=SSTL18_I;
NET "okGH[9]"   LOC=V17  | IOSTANDARD=SSTL18_I;
NET "okGH[10]"  LOC=W18  | IOSTANDARD=SSTL18_I;
NET "okGH[11]"  LOC=AB21 | IOSTANDARD=SSTL18_I;
NET "okGH[12]"  LOC=W17  | IOSTANDARD=SSTL18_I;
NET "okGH[13]"  LOC=AA14 | IOSTANDARD=SSTL18_I;
NET "okGH[14]"  LOC=U14  | IOSTANDARD=SSTL18_I;
NET "okGH[15]"  LOC=AB18 | IOSTANDARD=SSTL18_I;
NET "okGH[16]"  LOC=AA21 | IOSTANDARD=SSTL18_I;
NET "okGH[17]"  LOC=V18  | IOSTANDARD=SSTL18_I;
NET "okGH[18]"  LOC=V13  | IOSTANDARD=SSTL18_I;
NET "okGH[19]"  LOC=V19  | IOSTANDARD=SSTL18_I;
NET "okGH[20]"  LOC=W15  | IOSTANDARD=SSTL18_I;
NET "okGH[21]"  LOC=W13  | IOSTANDARD=SSTL18_I;
NET "okGH[22]"  LOC=R8   | IOSTANDARD=LVCMOS18;
NET "okGH[23]"  LOC=AA16 | IOSTANDARD=SSTL18_I;
NET "okGH[24]"  LOC=Y3   | IOSTANDARD=SSTL18_I;
NET "okGH[25]"  LOC=AB3  | IOSTANDARD=SSTL18_I;
NET "okGH[26]"  LOC=AA2  | IOSTANDARD=SSTL18_I;
NET "okGH[27]"  LOC=AB2  | IOSTANDARD=SSTL18_I;
NET "okGH[28]"  LOC=AB16 | IOSTANDARD=SSTL18_I;

NET "okHG[0]"   LOC=W8   | IOSTANDARD=DIFF_SSTL18_I;
NET "okHG[1]"   LOC=V7   | IOSTANDARD=DIFF_SSTL18_I;
NET "okHG[2]"   LOC=T11  | IOSTANDARD=SSTL18_I;
NET "okHG[3]"   LOC=W11  | IOSTANDARD=SSTL18_I;
NET "okHG[4]"   LOC=Y10  | IOSTANDARD=SSTL18_I;
NET "okHG[5]"   LOC=AA8  | IOSTANDARD=SSTL18_I;
NET "okHG[6]"   LOC=Y8   | IOSTANDARD=SSTL18_I;
NET "okHG[7]"   LOC=AA6  | IOSTANDARD=SSTL18_I;
NET "okHG[8]"   LOC=Y7   | IOSTANDARD=SSTL18_I;
NET "okHG[9]"   LOC=Y5   | IOSTANDARD=SSTL18_I;
NET "okHG[10]"  LOC=U9   | IOSTANDARD=SSTL18_I;
NET "okHG[11]"  LOC=AA10 | IOSTANDARD=SSTL18_I;
NET "okHG[12]"  LOC=AB9  | IOSTANDARD=SSTL18_I;
NET "okHG[13]"  LOC=AB8  | IOSTANDARD=SSTL18_I;
NET "okHG[14]"  LOC=W9   | IOSTANDARD=SSTL18_I;
NET "okHG[15]"  LOC=AB6  | IOSTANDARD=SSTL18_I;
NET "okHG[16]"  LOC=Y6   | IOSTANDARD=SSTL18_I;
NET "okHG[17]"  LOC=W6   | IOSTANDARD=SSTL18_I;
NET "okHG[18]"  LOC=AB5  | IOSTANDARD=SSTL18_I;
NET "okHG[19]"  LOC=AA4  | IOSTANDARD=SSTL18_I;
NET "okHG[20]"  LOC=W14  | IOSTANDARD=SSTL18_I;
NET "okHG[21]"  LOC=Y14  | IOSTANDARD=SSTL18_I;
NET "okHG[22]"  LOC=AB15 | IOSTANDARD=SSTL18_I;
NET "okHG[23]"  LOC=AB4  | IOSTANDARD=SSTL18_I;
NET "okHG[24]"  LOC=AB20 | IOSTANDARD=LVCMOS18;
NET "okHG[25]"  LOC=T18  | IOSTANDARD=LVCMOS18;
NET "okHG[26]"  LOC=Y19  | IOSTANDARD=LVCMOS18;
NET "okHG[27]"  LOC=T16  | IOSTANDARD=LVCMOS18;

NET "init"      LOC=T6   | IOSTANDARD=LVCMOS18;
NET "okAA"      LOC=T5   | IOSTANDARD=LVCMOS18;

# Constrain DDR inputs #####################################################
NET "okGH[2]" TNM_NET = "p2l_clkp_grp";
TIMESPEC TS_p2l_clkp = PERIOD "p2l_clkp_grp" 10.0 ns HIGH 50%;     

NET "okGH[4]"  TNM = "rx_DDR_grp" ;  
NET "okGH[5]"  TNM = "rx_DDR_grp" ;  
NET "okGH[6]"  TNM = "rx_DDR_grp" ;  
NET "okGH[7]"  TNM = "rx_DDR_grp" ;  
NET "okGH[8]"  TNM = "rx_DDR_grp" ;  
NET "okGH[9]"  TNM = "rx_DDR_grp" ;  
NET "okGH[10]" TNM = "rx_DDR_grp" ;  
NET "okGH[11]" TNM = "rx_DDR_grp" ;  
NET "okGH[12]" TNM = "rx_DDR_grp" ;  
NET "okGH[13]" TNM = "rx_DDR_grp" ;  
NET "okGH[14]" TNM = "rx_DDR_grp" ;  
NET "okGH[15]" TNM = "rx_DDR_grp" ;  
NET "okGH[16]" TNM = "rx_DDR_grp" ;  
NET "okGH[17]" TNM = "rx_DDR_grp" ;  
NET "okGH[18]" TNM = "rx_DDR_grp" ;  
NET "okGH[19]" TNM = "rx_DDR_grp" ;  

NET "host/okHC[1]" TNM_NET = rising_grp;
NET "host/okHC[2]" TNM_NET = falling_grp;
TIMEGRP "rx_DDR_grp" OFFSET=IN 1.2 ns VALID 1.6 ns BEFORE "okGH[2]" TIMEGRP "rising_grp";
TIMEGRP "rx_DDR_grp" OFFSET=IN -3.8 ns VALID 1.6 ns BEFORE "okGH[2]" TIMEGRP "falling_grp"; 

NET "okGH[20]"     OFFSET=IN 1.2 ns VALID 1.7 ns BEFORE "okGH[2]" RISING;
NET "okGH[21]"     OFFSET=IN 1.2 ns VALID 1.6 ns BEFORE "okGH[2]" RISING;
INST "okGH[20]" IOB=TRUE;
INST "okGH[21]" IOB=TRUE;

# Constrain DDR outputs ####################################################
NET "okGH[0]" TNM_NET = "l_clkp_grp";
NET "okHG[2]"   TNM = "tx_DDR_grp" ;
NET "okHG[3]"   TNM = "tx_DDR_grp" ;
NET "okHG[4]"   TNM = "tx_DDR_grp" ;
NET "okHG[5]"   TNM = "tx_DDR_grp" ;
NET "okHG[6]"   TNM = "tx_DDR_grp" ;
NET "okHG[7]"   TNM = "tx_DDR_grp" ;
NET "okHG[8]"   TNM = "tx_DDR_grp" ;
NET "okHG[9]"   TNM = "tx_DDR_grp" ;
NET "okHG[10]"  TNM = "tx_DDR_grp" ;
NET "okHG[11]"  TNM = "tx_DDR_grp" ;
NET "okHG[12]"  TNM = "tx_DDR_grp" ;
NET "okHG[13]"  TNM = "tx_DDR_grp" ;
NET "okHG[14]"  TNM = "tx_DDR_grp" ;
NET "okHG[15]"  TNM = "tx_DDR_grp" ;
NET "okHG[16]"  TNM = "tx_DDR_grp" ;
NET "okHG[17]"  TNM = "tx_DDR_grp" ;

NET "okHG[0]"   TNM = "tx_DDR_grp" ;
NET "okHG[1]"   TNM = "tx_DDR_grp" ;
NET "okHG[18]"  TNM = "tx_DDR_grp" ;
NET "okHG[19]"  TNM = "tx_DDR_grp" ;
NET "okHG[20]"  TNM = "tx_DDR_grp" ;

TIMESPEC "TS_l_clkp"=PERIOD "l_clkp_grp" 10.0 ns HIGH 50% INPUT_JITTER 10 ps;
TIMEGRP  "tx_DDR_grp" OFFSET=OUT AFTER "okGH[0]" REFERENCE_PIN "okHG[0]" RISING;
TIMEGRP  "tx_DDR_grp" OFFSET=OUT AFTER "okGH[0]" REFERENCE_PIN "okHG[0]" FALLING;

# False Path from Aysnchronous reset #######################################
NET "okGH[22]" TIG;

# More TIGs. ###############################################################
NET "okGH[24]" TNM = "l2p_rdy_grp";
NET "host/core0/core0/lbi_0/lr_l_0/async_d" TNM = "async_d_0_grp";

NET "host/core0/core0/lbi_0/ser_0/fifogo" TNM = "fifogo_grp";
NET "host/core0/core0/lbi_0/ser_0/fg_0/async_d" TNM = "async_d_1_grp";
TIMESPEC "TS_fp2" = FROM "fifogo_grp" TO "async_d_1_grp" TIG;

NET "host/core0/core0/lbi_0/ser_0/l2p_rdy_comp_int" TNM = "l2p_rdy_comp_int_grp";
NET "host/core0/core0/lbi_0/ser_0/lrci_0/async_d" TNM = "async_d_2_grp";
TIMESPEC "TS_fp3" = FROM "l2p_rdy_comp_int_grp" TO "async_d_2_grp" TIG;


############################################################################
## Peripherals
############################################################################

# LEDs ################################################################
NET "led[0]"     LOC=H8   | IOSTANDARD=LVCMOS18;
NET "led[1]"     LOC=B2   | IOSTANDARD=LVCMOS18;
NET "led[2]"     LOC=B1   | IOSTANDARD=LVCMOS18;
NET "led[3]"     LOC=G7   | IOSTANDARD=LVCMOS18;
NET "led[4]"     LOC=F7   | IOSTANDARD=LVCMOS18;
NET "led[5]"     LOC=D3   | IOSTANDARD=LVCMOS18;
NET "led[6]"     LOC=C4   | IOSTANDARD=LVCMOS18;
NET "led[7]"     LOC=E5   | IOSTANDARD=LVCMOS18;