#-------------------------------------------------------------------------
# XEM3005 - Xilinx constraints file
#
# Pin mappings for the XEM3005.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2006 Opal Kelly Incorporated
# $Rev$ $Date$
#-------------------------------------------------------------------------

#-------------------------------
# FrontPanel Host Interface pins
#-------------------------------
NET "hi_in<0>"     LOC = "F9";
NET "hi_in<1>"     LOC = "N5";
NET "hi_in<2>"     LOC = "T9";
NET "hi_in<3>"     LOC = "M7";
NET "hi_in<4>"     LOC = "P12";
NET "hi_in<5>"     LOC = "P11";
NET "hi_in<6>"     LOC = "P13";
NET "hi_in<7>"     LOC = "N12";
NET "hi_out<0>"    LOC = "P5";
NET "hi_out<1>"    LOC = "N10";
NET "hi_inout<0>"  LOC = "M8";
NET "hi_inout<1>"  LOC = "L8";
NET "hi_inout<2>"  LOC = "T8";
NET "hi_inout<3>"  LOC = "N8";
NET "hi_inout<4>"  LOC = "P8";
NET "hi_inout<5>"  LOC = "P9";
NET "hi_inout<6>"  LOC = "N9";
NET "hi_inout<7>"  LOC = "M9";
NET "hi_inout<8>"  LOC = "R11";
NET "hi_inout<9>"  LOC = "R6";
NET "hi_inout<10>" LOC = "T5";
NET "hi_inout<11>" LOC = "T4";
NET "hi_inout<12>" LOC = "R4";
NET "hi_inout<13>" LOC = "M6";
NET "hi_inout<14>" LOC = "N6";
NET "hi_inout<15>" LOC = "P6";

NET "hi_muxsel"    LOC = "L9";
NET "i2c_sda"      LOC = "G15" | PULLUP;
NET "i2c_scl"      LOC = "G16" | PULLUP;

#-------------------------------
# PLL Clock pins
#-------------------------------
NET "clk1"         LOC = "A8";
#NET "clk2"         LOC = "E9";
#NET "clk3"         LOC = "B8";
#NET "gclk10"       LOC = "C8";
#NET "gclk11"       LOC = "D8";

#-------------------------------
# Peripherals
#-------------------------------

# --- SPI FLASH
#NET "SPI_CS"'      LOC = "P3";
#NET "SPI_CLK"      LOC = "R16";
#NET "SPI_DIN"      LOC = "N16";
#NET "SPI_DOUT"     LOC = "R15";
#NET "SPI_HOLD"     LOC = "R10";
#NET "SPI_WP"       LOC = "P10";

# --- SDRAM
#NET "sdram_g_clk"  LOC = "A9";
#NET "sdram_cke"    LOC = "C16";
#NET "sdram_cas_n"  LOC = "D11";
#NET "sdram_ras_n"  LOC = "E11";
#NET "sdram_we_n"   LOC = "F8";
#NET "sdram_cs_n"   LOC = "F13";
#NET "sdram_lqdm"   LOC = "B7";
#NET "sdram_uqdm"   LOC = "C7";
#NET "sdram_a<0>"   LOC = "D14";
#NET "sdram_a<1>"   LOC = "F14";
#NET "sdram_a<2>"   LOC = "D15";
#NET "sdram_a<3>"   LOC = "G13";
#NET "sdram_a<4>"   LOC = "F12";
#NET "sdram_a<5>"   LOC = "F15";
#NET "sdram_a<6>"   LOC = "G14";
#NET "sdram_a<7>"   LOC = "A14";
#NET "sdram_a<8>"   LOC = "B14";
#NET "sdram_a<9>"   LOC = "C11";
#NET "sdram_a<10>"  LOC = "C15";
#NET "sdram_a<11>"  LOC = "A13";
#NET "sdram_a<12>"  LOC = "B13";
#NET "sdram_ba<0>"  LOC = "D9";
#NET "sdram_ba<1>"  LOC = "D10";
#NET "sdram_d<0>"   LOC = "A4";
#NET "sdram_d<1>"   LOC = "B4";
#NET "sdram_d<2>"   LOC = "A5";
#NET "sdram_d<3>"   LOC = "C3";
#NET "sdram_d<4>"   LOC = "C4";
#NET "sdram_d<5>"   LOC = "C5";
#NET "sdram_d<6>"   LOC = "D7";
#NET "sdram_d<7>"   LOC = "E8";
#NET "sdram_d<8>"   LOC = "E10";
#NET "sdram_d<9>"   LOC = "B10";
#NET "sdram_d<10>"  LOC = "A12";
#NET "sdram_d<11>"  LOC = "E7";
#NET "sdram_d<12>"  LOC = "A10";
#NET "sdram_d<13>"  LOC = "C6";
#NET "sdram_d<14>"  LOC = "A7";
#NET "sdram_d<15>"  LOC = "D6";

# --- LEDs
NET "led<0>"       LOC = "P14";
NET "led<1>"       LOC = "R13";
NET "led<2>"       LOC = "T13";
NET "led<3>"       LOC = "P15";

#-------------------------------
# Bank 0 GP Connections
#-------------------------------
#NET "bank0<0>"     LOC = "D12"; # JP3_62
#NET "bank0<1>"     LOC = "B11"; # JP3_64
#NET "bank0<2>"     LOC = "C13"; # JP3_66
#NET "bank0<3>"     LOC = "C12"; # JP3_68
#NET "bank0<4>"     LOC = "C10"; # JP3_70
#NET "bank0<5>"     LOC = "C9";  # JP3_72
#NET "bank0<6>"     LOC = "A3";  # JP4_67
#NET "bank0<7>"     LOC = "D5";  # JP4_69
#NET "bank0<8>"     LOC = "E6";  # JP4_71
#NET "bank0<9>"     LOC = "B6";  # JP4_73

#-------------------------------
# Bank 1 GP Connections
#-------------------------------
#NET "bank1<0>"     LOC = "N14"; # JP3_25
#NET "bank1<1>"     LOC = "P16"; # JP3_26
#NET "bank1<2>"     LOC = "M14"; # JP3_27
#NET "bank1<3>"     LOC = "N15"; # JP3_28
#NET "bank1<4>"     LOC = "L14"; # JP3_29
#NET "bank1<5>"     LOC = "M16"; # JP3_30
#NET "bank1<6>"     LOC = "L15"; # JP3_31
#NET "bank1<7>"     LOC = "K15"; # JP3_32
#NET "bank1<8>"     LOC = "M13"; # JP3_33
#NET "bank1<9>"     LOC = "L12"; # JP3_34
#NET "bank1<10>"    LOC = "K14"; # JP3_35
#NET "bank1<11>"    LOC = "L13"; # JP3_36
#NET "bank1<12>"    LOC = "K13"; # JP3_37
#NET "bank1<13>"    LOC = "K12"; # JP3_38
#NET "bank1<14>"    LOC = "J12"; # JP3_41
#NET "bank1<15>"    LOC = "J14"; # JP3_42
#NET "bank1<16>"    LOC = "J11"; # JP3_43
#NET "bank1<17>"    LOC = "J13"; # JP3_44
#NET "bank1<18>"    LOC = "H12"; # JP3_45
#NET "bank1<19>"    LOC = "K16"; # JP3_46
#NET "bank1<20>"    LOC = "H14"; # JP3_47
#NET "bank1<21>"    LOC = "J16"; # JP3_48
#NET "bank1<22>"    LOC = "H11"; # JP3_49
#NET "bank1<23>"    LOC = "H16"; # JP3_50
#NET "bank1<24>"    LOC = "H13"; # JP3_51
#NET "bank1<25>"    LOC = "H15"; # JP3_52
#NET "bank1<26>"    LOC = "G12"; # JP3_53
#NET "bank1<27>"    LOC = "E16"; # JP3_54
#NET "bank1<28>"    LOC = "E13"; # JP3_55
#NET "bank1<29>"    LOC = "D16"; # JP3_56
#NET "bank1<30>"    LOC = "E14"; # JP3_57
#NET "bank1<31>"    LOC = "B16"; # JP3_58

#-------------------------------
# Bank 2 GP Connections
#-------------------------------
#NET "bank2<0>"     LOC = "T12"; # JP3_21
#NET "bank2<1>"     LOC = "N11"; # JP3_22
#NET "bank2<2>"     LOC = "T14"; # JP3_23
#NET "bank2<3>"     LOC = "M11"; # JP3_24
#NET "bank2<4>"     LOC = "T7";  # JP4_5
#NET "bank2<5>"     LOC = "N7";  # JP4_6
#NET "bank2<6>"     LOC = "T2";  # JP4_7
#NET "bank2<7>"     LOC = "P7";  # JP4_8
#NET "bank2<8>"     LOC = "R3";  # JP4_9
#NET "bank2<9>"     LOC = "R7";  # JP4_10
#NET "bank2<10>"    LOC = "T3";  # JP4_11

#-------------------------------
# Bank 3 GP Connections
#-------------------------------
#NET "bank3<0>"     LOC = "E3"; # JP4_12
#NET "bank3<1>"     LOC = "B2"; # JP4_13
#NET "bank3<2>"     LOC = "E4"; # JP4_14
#NET "bank3<3>"     LOC = "B1"; # JP4_15
#NET "bank3<4>"     LOC = "F4"; # JP4_16
#NET "bank3<5>"     LOC = "C2"; # JP4_17
#NET "bank3<6>"     LOC = "F3"; # JP4_18
#NET "bank3<7>"     LOC = "C1"; # JP4_21
#NET "bank3<8>"     LOC = "F5"; # JP4_22
#NET "bank3<9>"     LOC = "D2"; # JP4_23
#NET "bank3<10>"    LOC = "G4"; # JP4_24
#NET "bank3<11>"    LOC = "D1"; # JP4_25
#NET "bank3<12>"    LOC = "G3"; # JP4_26
#NET "bank3<13>"    LOC = "E1"; # JP4_27
#NET "bank3<14>"    LOC = "G5"; # JP4_28
#NET "bank3<15>"    LOC = "F2"; # JP4_29
#NET "bank3<16>"    LOC = "H3"; # JP4_30
#NET "bank3<17>"    LOC = "G2"; # JP4_31
#NET "bank3<18>"    LOC = "H5"; # JP4_32
#NET "bank3<19>"    LOC = "G1"; # JP4_33
#NET "bank3<20>"    LOC = "H4"; # JP4_34
#NET "bank3<21>"    LOC = "H6"; # JP4_35
#NET "bank3<22>"    LOC = "H1"; # JP4_36
#NET "bank3<23>"    LOC = "J4"; # JP4_37
#NET "bank3<24>"    LOC = "J1"; # JP4_38
#NET "bank3<25>"    LOC = "J6"; # JP4_43
#NET "bank3<26>"    LOC = "J2"; # JP4_44
#NET "bank3<27>"    LOC = "J3"; # JP4_45
#NET "bank3<28>"    LOC = "K1"; # JP4_46
#NET "bank3<29>"    LOC = "J5"; # JP4_47
#NET "bank3<30>"    LOC = "K2"; # JP4_48
#NET "bank3<31>"    LOC = "K3"; # JP4_49
#NET "bank3<32>"    LOC = "L2"; # JP4_50
#NET "bank3<33>"    LOC = "K4"; # JP4_51
#NET "bank3<34>"    LOC = "M1"; # JP4_52
#NET "bank3<35>"    LOC = "K5"; # JP4_53
#NET "bank3<36>"    LOC = "N1"; # JP4_54
#NET "bank3<37>"    LOC = "L3"; # JP4_55
#NET "bank3<38>"    LOC = "N2"; # JP4_56
#NET "bank3<39>"    LOC = "L5"; # JP4_57
#NET "bank3<40>"    LOC = "P1"; # JP4_58
#NET "bank3<41>"    LOC = "L4"; # JP4_61
#NET "bank3<42>"    LOC = "P2"; # JP4_62
#NET "bank3<43>"    LOC = "M3"; # JP4_63
#NET "bank3<44>"    LOC = "R1"; # JP4_64
#NET "bank3<45>"    LOC = "M4"; # JP4_65
#NET "bank3<46>"    LOC = "R2"; # JP4_66
#NET "bank3<47>"    LOC = "N3"; # JP4_68
