#-------------------------------------------------------------------------
# XEM3050 - Xilinx constraints file
#
# Pin mappings for the XEM3050.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2007 Opal Kelly Incorporated
# $Rev$ $Date$
#-------------------------------------------------------------------------

#-------------------------------
# FrontPanel Host Interface pins
#-------------------------------
NET "hi_in<0>"			LOC = "AF14";
NET "hi_in<1>"			LOC = "AB5";
NET "hi_in<2>"			LOC = "AC5";
NET "hi_in<3>"			LOC = "AF12";
NET "hi_in<4>"			LOC = "AE5";
NET "hi_in<5>"			LOC = "AF5";
NET "hi_in<6>"			LOC = "AF6";
NET "hi_in<7>"			LOC = "AE6";
NET "hi_out<0>"		LOC = "AD14";
NET "hi_out<1>"		LOC = "AE12";
NET "hi_inout<0>"		LOC = "AA12";
NET "hi_inout<1>"		LOC = "AB12";
NET "hi_inout<2>"		LOC = "AB13";
NET "hi_inout<3>"		LOC = "AC13";
NET "hi_inout<4>"		LOC = "AA14";
NET "hi_inout<5>"		LOC = "Y14";
NET "hi_inout<6>"		LOC = "W14";
NET "hi_inout<7>"		LOC = "Y15";
NET "hi_inout<8>"		LOC = "AF11";
NET "hi_inout<9>"		LOC = "AE11";
NET "hi_inout<10>"	LOC = "AE10";
NET "hi_inout<11>"	LOC = "AE9";
NET "hi_inout<12>"	LOC = "AF8";
NET "hi_inout<13>"	LOC = "AE8";
NET "hi_inout<14>"	LOC = "AF7";
NET "hi_inout<15>"	LOC = "AE7";
NET "hi_muxsel"      LOC = "AF13";
NET "i2c_sda"        LOC = "AD8" | PULLUP;
NET "i2c_scl"        LOC = "AD9" | PULLUP;

#---------------
# PLL Clock pins
#---------------
NET "clk1"           LOC = "AE14";
NET "clk2"           LOC = "AE13";

NET "led<0>"        LOC = "Y17";
NET "led<1>"        LOC = "Y16";
NET "led<2>"        LOC = "W16";
NET "led<3>"        LOC = "W15";
