############################################################################
# XEM6320 - Xilinx constraints file
#
# Pin mappings for the XEM6320.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2010 Opal Kelly Incorporated
# $Rev$ $Date$
############################################################################

NET "okUH[0]" TNM_NET = "okHostClk";
TIMESPEC "TS_okHostClk" = PERIOD "okHostClk" 9.92 ns HIGH 50%;

NET "okUHU[*]" TNM = "okHostINOUT_grp";
TIMEGRP "okHostINOUT_grp" OFFSET = IN 2 ns VALID 4 ns BEFORE "okUH[0]" RISING;
TIMEGRP "okHostINOUT_grp" OFFSET = OUT 8 ns AFTER "okUH[0]" RISING;

NET "okHU[2]" TNM = "okHostOUT_grp";
NET "okHU[1]" TNM = "okHostOUT_grp";
NET "okHU[0]" TNM = "okHostOUT_grp";
TIMEGRP "okHostOUT_grp" OFFSET = OUT 8 ns AFTER "okUH[0]" RISING;

NET "okUH[4]"   TNM = "okHostIN_grp";
NET "okUH[3]"   TNM = "okHostIN_grp";
NET "okUH[2]"   TNM = "okHostIN_grp";
NET "okUH[1]"   TNM = "okHostIN_grp";
TIMEGRP "okHostIN_grp" OFFSET = IN 2 ns VALID 12 ns BEFORE "okUH[0]" RISING;

############################################################################
## System Clock                                                        
############################################################################
NET "sys_clkp"  LOC=L23   | IOSTANDARD=LVDS_25;
NET "sys_clkn"  LOC=M22   | IOSTANDARD=LVDS_25;

NET "sys_clkp" TNM_NET = "okSysClk";
TIMESPEC "TS_okSysClk" = PERIOD "okSysClk" 10 ns HIGH 50%;

############################################################################
## FrontPanel Host Interface
############################################################################
NET "okHU[0]"        LOC="F26"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okHU[1]"        LOC="E24"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okHU[2]"        LOC="AF23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";

NET "okUH[0]"        LOC="K24"     | IOSTANDARD="LVCMOS18";
NET "okUH[1]"        LOC="T23"     | IOSTANDARD="LVCMOS18";
NET "okUH[2]"        LOC="T24"     | IOSTANDARD="LVCMOS18";
NET "okUH[3]"        LOC="J25"     | IOSTANDARD="LVCMOS18";
NET "okUH[4]"        LOC="J24"     | IOSTANDARD="LVCMOS18";

NET "okUHU<0>"       LOC="M23"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<1>"       LOC="L24"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<2>"       LOC="F24"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<3>"       LOC="F23"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<4>"       LOC="N23"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<5>"       LOC="N24"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<6>"       LOC="H23"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<7>"       LOC="G23"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<8>"       LOC="R24"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<9>"       LOC="P24"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<10>"      LOC="H25"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<11>"      LOC="H24"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<12>"      LOC="V24"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<13>"      LOC="W24"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<14>"      LOC="AF25"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<15>"      LOC="AF24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<16>"      LOC="C28"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<17>"      LOC="D26"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<18>"      LOC="B28"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<19>"      LOC="C29"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<20>"      LOC="D29"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<21>"      LOC="A25"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<22>"      LOC="B26"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<23>"      LOC="C25"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<24>"      LOC="C24"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<25>"      LOC="B27"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<26>"      LOC="C27"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<27>"      LOC="B25"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<28>"      LOC="D25"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<29>"      LOC="A26"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<30>"      LOC="D24"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<31>"      LOC="D27"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";

NET "okAA"           LOC="C30"     | IOSTANDARD="LVCMOS18";

############################################################################
## Peripherals                                                          
############################################################################

# LEDs ###############################################################
NET "led[0]"    LOC=AG23 | IOSTANDARD=LVCMOS18;
NET "led[1]"    LOC=AA23 | IOSTANDARD=LVCMOS18;
NET "led[2]"    LOC=AE23 | IOSTANDARD=LVCMOS18;
NET "led[3]"    LOC=AE22 | IOSTANDARD=LVCMOS18;
NET "led[4]"    LOC=AC23 | IOSTANDARD=LVCMOS18;
NET "led[5]"    LOC=AC24 | IOSTANDARD=LVCMOS18;
NET "led[6]"    LOC=AC22 | IOSTANDARD=LVCMOS18;
NET "led[7]"    LOC=AD22 | IOSTANDARD=LVCMOS18;

