#-------------------------------------------------------------------------
# XEM3005 - Xilinx constraints file
#
# Pin mappings for the XEM3005.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2006 Opal Kelly Incorporated
# $Rev$ $Date$
#-------------------------------------------------------------------------

#-------------------------------
# FrontPanel Host Interface pins
#-------------------------------
NET "hi_in<0>"     LOC = "F9";
NET "hi_in<1>"     LOC = "N5";
NET "hi_in<2>"     LOC = "T9";
NET "hi_in<3>"     LOC = "M7";
NET "hi_in<4>"     LOC = "P12";
NET "hi_in<5>"     LOC = "P11";
NET "hi_in<6>"     LOC = "P13";
NET "hi_in<7>"     LOC = "N12";
NET "hi_out<0>"    LOC = "P5";
NET "hi_out<1>"    LOC = "N10";
NET "hi_inout<0>"  LOC = "M8";
NET "hi_inout<1>"  LOC = "L8";
NET "hi_inout<2>"  LOC = "T8";
NET "hi_inout<3>"  LOC = "N8";
NET "hi_inout<4>"  LOC = "P8";
NET "hi_inout<5>"  LOC = "P9";
NET "hi_inout<6>"  LOC = "N9";
NET "hi_inout<7>"  LOC = "M9";
NET "hi_inout<8>"  LOC = "R11";
NET "hi_inout<9>"  LOC = "R6";
NET "hi_inout<10>" LOC = "T5";
NET "hi_inout<11>" LOC = "T4";
NET "hi_inout<12>" LOC = "R4";
NET "hi_inout<13>" LOC = "M6";
NET "hi_inout<14>" LOC = "N6";
NET "hi_inout<15>" LOC = "P6";

NET "hi_muxsel"    LOC = "L9";
NET "i2c_sda"      LOC = "G15" | PULLUP;
NET "i2c_scl"      LOC = "G16" | PULLUP;

#-------------------------------
# PLL Clock pins
#-------------------------------
NET "clk1"         LOC = "A8";
#NET "clk2"         LOC = "E9";
#NET "clk3"         LOC = "B8";
#NET "gclk10"       LOC = "C8";
#NET "gclk11"       LOC = "D8";
NET "sdram_clk"     TNM_NET="TNM_clk1";
TIMESPEC "TS_clk1" = PERIOD "TNM_clk1" 7 ns HIGH 50%;

#-------------------------------
# Peripherals
#-------------------------------

# --- SPI FLASH
#NET "SPI_CS"       LOC = "P3";
#NET "SPI_CLK"      LOC = "R16";
#NET "SPI_DIN"      LOC = "N16";
#NET "SPI_DOUT"     LOC = "R15";
#NET "SPI_HOLD"     LOC = "R10";
#NET "SPI_WP"       LOC = "P10";

# --- SDRAM
NET "sdram_clk_out"  LOC = "A9";
NET "sdram_cke"    LOC = "C16";
NET "sdram_cas_n"  LOC = "D11";
NET "sdram_ras_n"  LOC = "E11";
NET "sdram_we_n"   LOC = "F8";
NET "sdram_cs_n"   LOC = "F13";
NET "sdram_ldqm"   LOC = "B7";
NET "sdram_udqm"   LOC = "C7";
NET "sdram_a<0>"   LOC = "D14";
NET "sdram_a<1>"   LOC = "F14";
NET "sdram_a<2>"   LOC = "D15";
NET "sdram_a<3>"   LOC = "G13";
NET "sdram_a<4>"   LOC = "F12";
NET "sdram_a<5>"   LOC = "F15";
NET "sdram_a<6>"   LOC = "G14";
NET "sdram_a<7>"   LOC = "A14";
NET "sdram_a<8>"   LOC = "B14";
NET "sdram_a<9>"   LOC = "C11";
NET "sdram_a<10>"  LOC = "C15";
NET "sdram_a<11>"  LOC = "A13";
NET "sdram_a<12>"  LOC = "B13";
NET "sdram_ba<0>"  LOC = "D9";
NET "sdram_ba<1>"  LOC = "D10";
NET "sdram_d<0>"   LOC = "A4";
NET "sdram_d<1>"   LOC = "B4";
NET "sdram_d<2>"   LOC = "A5";
NET "sdram_d<3>"   LOC = "C3";
NET "sdram_d<4>"   LOC = "C4";
NET "sdram_d<5>"   LOC = "C5";
NET "sdram_d<6>"   LOC = "D7";
NET "sdram_d<7>"   LOC = "E8";
NET "sdram_d<8>"   LOC = "E10";
NET "sdram_d<9>"   LOC = "B10";
NET "sdram_d<10>"  LOC = "A12";
NET "sdram_d<11>"  LOC = "E7";
NET "sdram_d<12>"  LOC = "A10";
NET "sdram_d<13>"  LOC = "C6";
NET "sdram_d<14>"  LOC = "A7";
NET "sdram_d<15>"  LOC = "D6";

# --- LEDs
NET "led<0>"       LOC = "P14";
NET "led<1>"       LOC = "R13";
NET "led<2>"       LOC = "T13";
NET "led<3>"       LOC = "P15";

