#-------------------------------------------------------------------------
# XEM3010 - Xilinx constraints file
#
# Pin mappings for the XEM3010.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2006 Opal Kelly Incorporated
# $Rev$ $Date$
#-------------------------------------------------------------------------

#-------------------------------
# FrontPanel Host Interface pins
#-------------------------------
NET "hi_in<0>"			LOC = "N10";
NET "hi_in<1>"			LOC = "V2";
NET "hi_in<2>"			LOC = "V3";
NET "hi_in<3>"			LOC = "V12";
NET "hi_in<4>"			LOC = "R8";
NET "hi_in<5>"			LOC = "T8";
NET "hi_in<6>"			LOC = "V8";
NET "hi_in<7>"			LOC = "V7";
NET "hi_out<0>"		LOC = "V10";
NET "hi_out<1>"		LOC = "V11";
NET "hi_inout<0>"		LOC = "T7";
NET "hi_inout<1>"		LOC = "R7";
NET "hi_inout<2>"		LOC = "V9";
NET "hi_inout<3>"		LOC = "U9";
NET "hi_inout<4>"		LOC = "P11";
NET "hi_inout<5>"		LOC = "N11";
NET "hi_inout<6>"		LOC = "R12";
NET "hi_inout<7>"		LOC = "T12";
NET "hi_inout<8>"		LOC = "U6";
NET "hi_inout<9>"		LOC = "V5";
NET "hi_inout<10>"	LOC = "U5";
NET "hi_inout<11>"	LOC = "V4";
NET "hi_inout<12>"	LOC = "U4";
NET "hi_inout<13>"	LOC = "T4";
NET "hi_inout<14>"	LOC = "T5";
NET "hi_inout<15>"	LOC = "R5";

NET "hi_muxsel"      LOC = "R9";
NET "i2c_sda"        LOC = "R13" | PULLUP;
NET "i2c_scl"        LOC = "U13" | PULLUP;

#NET "jtag_tck"       LOC = "P14"
#NET "jtag_tms"       LOC = "R14"
#NET "jtag_tdi"       LOC = "R10"
#NET "jtag_tdo"       LOC = "P12"


#---------------
# PLL Clock pins
#---------------
NET "clk1"           LOC = "N9";
#NET "clk2"           LOC = "P9";
#NET "clk3"           LOC = "P10";

#------------
# Peripherals
#------------
#NET "sdram_cke"      LOC = "F8";
#NET "sdram_cas_n"    LOC = "E11";
#NET "sdram_ras_n"    LOC = "D12";
#NET "sdram_we_n"     LOC = "E7";
#NET "sdram_cs_n"     LOC = "E8";
#NET "sdram_lqdm"     LOC = "D9";
#NET "sdram_uqdm"     LOC = "A9";
#NET "sdram_a<0>"     LOC = "A15";
#NET "sdram_a<1>"     LOC = "A16";
#NET "sdram_a<2>"     LOC = "B15";
#NET "sdram_a<3>"     LOC = "B14";
#NET "sdram_a<4>"     LOC = "D11";
#NET "sdram_a<5>"     LOC = "B13";
#NET "sdram_a<6>"     LOC = "C11";
#NET "sdram_a<7>"     LOC = "A12";
#NET "sdram_a<8>"     LOC = "A11";
#NET "sdram_a<9>"     LOC = "D10";
#NET "sdram_a<10>"    LOC = "A17";
#NET "sdram_a<11>"    LOC = "B10";
#NET "sdram_a<12>"    LOC = "A10";
#NET "sdram_ba<0>"    LOC = "C12";
#NET "sdram_ba<1>"    LOC = "A14";
#NET "sdram_d<0>"     LOC = "C4";
#NET "sdram_d<1>"     LOC = "D5";
#NET "sdram_d<2>"     LOC = "C5";
#NET "sdram_d<3>"     LOC = "D6";
#NET "sdram_d<4>"     LOC = "D7";
#NET "sdram_d<5>"     LOC = "C7";
#NET "sdram_d<6>"     LOC = "C8";
#NET "sdram_d<7>"     LOC = "D8";
#NET "sdram_d<8>"     LOC = "B9";
#NET "sdram_d<9>"     LOC = "A8";
#NET "sdram_d<10>"    LOC = "A7";
#NET "sdram_d<11>"    LOC = "B6";
#NET "sdram_d<12>"    LOC = "A5";
#NET "sdram_d<13>"    LOC = "B5";
#NET "sdram_d<14>"    LOC = "A4";
#NET "sdram_d<15>"    LOC = "B4";

NET "led<0>"        LOC = "V14";
NET "led<1>"        LOC = "U14";
NET "led<2>"        LOC = "T14";
NET "led<3>"        LOC = "V15";
NET "led<4>"        LOC = "U15";
NET "led<5>"        LOC = "V16";
NET "led<6>"        LOC = "V17";
NET "led<7>"        LOC = "U16";

NET "button<0>"     LOC = "P7";
NET "button<1>"     LOC = "P6";

#---------------------
# Expansion (JP2-XBUS)
#---------------------
NET "xbus<0>"       LOC = "U18";
NET "xbus<1>"       LOC = "T16";
NET "xbus<2>"       LOC = "T18";
NET "xbus<3>"       LOC = "T17";
NET "xbus<4>"       LOC = "R17";
NET "xbus<5>"       LOC = "R16";
NET "xbus<6>"       LOC = "R18";
NET "xbus<7>"       LOC = "P15";
NET "xbus<8>"       LOC = "P17";
NET "xbus<9>"       LOC = "P16";
NET "xbus<10>"      LOC = "P18";
NET "xbus<11>"      LOC = "N15";
NET "xbus<12>"      LOC = "N17";
NET "xbus<13>"      LOC = "M15";
NET "xbus<14>"      LOC = "M18";
NET "xbus<15>"      LOC = "M16";
NET "xbus<16>"      LOC = "L17";
NET "xbus<17>"      LOC = "L15";
NET "xbus<18>"      LOC = "L18";
NET "xbus<19>"      LOC = "L16";
NET "xbus<20>"      LOC = "K17";
NET "xbus<21>"      LOC = "N14";
NET "xbus<22>"      LOC = "K18";
NET "xbus<23>"      LOC = "M14";
NET "xbus<24>"      LOC = "L14";
NET "xbus<25>"      LOC = "K13";
NET "xbus<26>"      LOC = "L13";
NET "xbus<27>"      LOC = "K14";
NET "xbus<28>"      LOC = "J13";
NET "xbus<29>"      LOC = "K15";
NET "xbus<30>"      LOC = "H13";
NET "xbus<31>"      LOC = "J14";
NET "xbus<32>"      LOC = "H14";
NET "xbus<33>"      LOC = "J15";
NET "xbus<34>"      LOC = "J18";
NET "xbus<35>"      LOC = "G14";
#NET "xbus<36>"      LOC = "J17";
#NET "xbus<37>"      LOC = "F14";
#NET "xbus<38>"      LOC = "H18";
#NET "xbus<39>"      LOC = "H16";
#NET "xbus<40>"      LOC = "H17";
#NET "xbus<41>"      LOC = "H15";
#NET "xbus<42>"      LOC = "G18";
#NET "xbus<43>"      LOC = "G16";
#NET "xbus<44>"      LOC = "F17";
#NET "xbus<45>"      LOC = "G15";
#NET "xbus<46>"      LOC = "E18";
#NET "xbus<47>"      LOC = "F15";
#NET "xbus<48>"      LOC = "E17";
#NET "xbus<49>"      LOC = "E16";
#NET "xbus<50>"      LOC = "D18";
#NET "xbus<51>"      LOC = "E15";
#NET "xbus<52>"      LOC = "D17";
#NET "xbus<53>"      LOC = "D16";
#NET "xbus<54>"      LOC = "C18";
#NET "xbus<55>"      LOC = "C17";
#NET "xbus<56>"      LOC = "B18";
#NET "xbus<57>"      LOC = "C16";

#---------------------
# Expansion (JP3-YBUS)
#---------------------
NET "ybus<0>"       LOC = "T3";
NET "ybus<1>"       LOC = "U1";
NET "ybus<2>"       LOC = "T2";
NET "ybus<3>"       LOC = "T1";
NET "ybus<4>"       LOC = "R3";
NET "ybus<5>"       LOC = "R2";
NET "ybus<6>"       LOC = "P4";
NET "ybus<7>"       LOC = "R1";
NET "ybus<8>"       LOC = "P3";
NET "ybus<9>"       LOC = "P2";
NET "ybus<10>"      LOC = "N4";
NET "ybus<11>"      LOC = "P1";
NET "ybus<12>"      LOC = "M4";
NET "ybus<13>"      LOC = "N2";
NET "ybus<14>"      LOC = "M3";
NET "ybus<15>"      LOC = "M1";
NET "ybus<16>"      LOC = "L4";
NET "ybus<17>"      LOC = "L2";
NET "ybus<18>"      LOC = "L3";
NET "ybus<19>"      LOC = "L1";
NET "ybus<20>"      LOC = "N5";
NET "ybus<21>"      LOC = "K2";
NET "ybus<22>"      LOC = "M5";
NET "ybus<23>"      LOC = "K1";
NET "ybus<24>"      LOC = "L5";
NET "ybus<25>"      LOC = "K5";
NET "ybus<26>"      LOC = "L6";
NET "ybus<27>"      LOC = "K4";
NET "ybus<28>"      LOC = "K6";
NET "ybus<29>"      LOC = "J6";
NET "ybus<30>"      LOC = "H6";
NET "ybus<31>"      LOC = "J5";
NET "ybus<32>"      LOC = "H5";
NET "ybus<33>"      LOC = "J4";
NET "ybus<34>"      LOC = "G5";
NET "ybus<35>"      LOC = "J1";
#NET "ybus<36>"      LOC = "F5";
#NET "ybus<37>"      LOC = "J2";
#NET "ybus<38>"      LOC = "H3";
#NET "ybus<39>"      LOC = "H1";
#NET "ybus<40>"      LOC = "H4";
#NET "ybus<41>"      LOC = "H2";
#NET "ybus<42>"      LOC = "G3";
#NET "ybus<43>"      LOC = "G1";
#NET "ybus<44>"      LOC = "G4";
#NET "ybus<45>"      LOC = "F2";
#NET "ybus<46>"      LOC = "F4";
#NET "ybus<47>"      LOC = "E1";
#NET "ybus<48>"      LOC = "E3";
#NET "ybus<49>"      LOC = "E2";
#NET "ybus<50>"      LOC = "E4";
#NET "ybus<51>"      LOC = "D1";
#NET "ybus<52>"      LOC = "D3";
#NET "ybus<53>"      LOC = "D2";
#NET "ybus<54>"      LOC = "C2";
#NET "ybus<55>"      LOC = "C1";
#NET "ybus<56>"      LOC = "C3";
#NET "ybus<57>"      LOC = "B1";
