#-------------------------------------------------------------------------
# XEM3050 - Xilinx constraints file
#
# Pin mappings for the XEM3050.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2007 Opal Kelly Incorporated
# $Rev$ $Date$
#-------------------------------------------------------------------------

#-------------------------------
# FrontPanel Host Interface pins
#-------------------------------
NET "hi_in<0>"			LOC = "AF14";
NET "hi_in<1>"			LOC = "AB5";
NET "hi_in<2>"			LOC = "AC5";
NET "hi_in<3>"			LOC = "AF12";
NET "hi_in<4>"			LOC = "AE5";
NET "hi_in<5>"			LOC = "AF5";
NET "hi_in<6>"			LOC = "AF6";
NET "hi_in<7>"			LOC = "AE6";
NET "hi_out<0>"		LOC = "AD14";
NET "hi_out<1>"		LOC = "AE12";
NET "hi_inout<0>"		LOC = "AA12";
NET "hi_inout<1>"		LOC = "AB12";
NET "hi_inout<2>"		LOC = "AB13";
NET "hi_inout<3>"		LOC = "AC13";
NET "hi_inout<4>"		LOC = "AA14";
NET "hi_inout<5>"		LOC = "Y14";
NET "hi_inout<6>"		LOC = "W14";
NET "hi_inout<7>"		LOC = "Y15";
NET "hi_inout<8>"		LOC = "AF11";
NET "hi_inout<9>"		LOC = "AE11";
NET "hi_inout<10>"	LOC = "AE10";
NET "hi_inout<11>"	LOC = "AE9";
NET "hi_inout<12>"	LOC = "AF8";
NET "hi_inout<13>"	LOC = "AE8";
NET "hi_inout<14>"	LOC = "AF7";
NET "hi_inout<15>"	LOC = "AE7";

NET "hi_muxsel"      LOC = "AF13";
NET "i2c_sda"        LOC = "AD8" | PULLUP;
NET "i2c_scl"        LOC = "AD9" | PULLUP;

#NET "jtag_tck"       LOC = "AD12"
#NET "jtag_tms"       LOC = "AC10"
#NET "jtag_tdi"       LOC = "AC11"
#NET "jtag_tdo"       LOC = "AD10"


#---------------
# PLL Clock pins
#---------------
NET "clk1"           LOC = "AE14";
#NET "clk2"           LOC = "AE13";
#NET "clk3"           LOC = "AD13";

#------------
# Peripherals
#------------
#NET "sdram_clk"      LOC = "C10";
#NET "sdram_cke"      LOC = "C9";
#NET "sdram_cas_n"    LOC = "C8";
#NET "sdram_ras_n"    LOC = "B6";
#NET "sdram_we_n"     LOC = "A5";
#NET "sdram_cs_n"     LOC = "A4";
#NET "sdram_lqdm"     LOC = "B7";
#NET "sdram_uqdm"     LOC = "C12";
#NET "sdram_a<0>"     LOC = "D6";
#NET "sdram_a<1>"     LOC = "B4";
#NET "sdram_a<2>"     LOC = "B3";
#NET "sdram_a<3>"     LOC = "C4";
#NET "sdram_a<4>"     LOC = "D5";
#NET "sdram_a<5>"     LOC = "C5";
#NET "sdram_a<6>"     LOC = "C6";
#NET "sdram_a<7>"     LOC = "D8";
#NET "sdram_a<8>"     LOC = "D10";
#NET "sdram_a<9>"     LOC = "E9";
#NET "sdram_a<10>"    LOC = "A3";
#NET "sdram_a<11>"    LOC = "D9";
#NET "sdram_a<12>"    LOC = "D11";
#NET "sdram_ba<0>"    LOC = "D7";
#NET "sdram_ba<1>"    LOC = "B5";
#NET "sdram_d<0>"     LOC = "B11";
#NET "sdram_d<1>"     LOC = "B10";
#NET "sdram_d<2>"     LOC = "A10";
#NET "sdram_d<3>"     LOC = "A8";
#NET "sdram_d<4>"     LOC = "B9";
#NET "sdram_d<5>"     LOC = "A7";
#NET "sdram_d<6>"     LOC = "B8";
#NET "sdram_d<7>"     LOC = "A6";
#NET "sdram_d<8>"     LOC = "E11";
#NET "sdram_d<9>"     LOC = "A11";
#NET "sdram_d<10>"    LOC = "D13";
#NET "sdram_d<11>"    LOC = "B12";
#NET "sdram_d<12>"    LOC = "E12";
#NET "sdram_d<13>"    LOC = "A12";
#NET "sdram_d<14>"    LOC = "E13";
#NET "sdram_d<15>"    LOC = "C13";

#NET "sdram2_clk"      LOC = "D16";
#NET "sdram2_cke"      LOC = "A17";
#NET "sdram2_cas_n"    LOC = "D19";
#NET "sdram2_ras_n"    LOC = "B21";
#NET "sdram2_we_n"     LOC = "A21";
#NET "sdram2_cs_n"     LOC = "A20";
#NET "sdram2_lqdm"     LOC = "B22";
#NET "sdram2_uqdm"     LOC = "C15";
#NET "sdram2_a<0>"     LOC = "B18";
#NET "sdram2_a<1>"     LOC = "B19";
#NET "sdram2_a<2>"     LOC = "B17";
#NET "sdram2_a<3>"     LOC = "D17";
#NET "sdram2_a<4>"     LOC = "A15";
#NET "sdram2_a<5>"     LOC = "A14";
#NET "sdram2_a<6>"     LOC = "A16";
#NET "sdram2_a<7>"     LOC = "B15";
#NET "sdram2_a<8>"     LOC = "D14";
#NET "sdram2_a<9>"     LOC = "B16";
#NET "sdram2_a<10>"    LOC = "A19";
#NET "sdram2_a<11>"    LOC = "E16";
#NET "sdram2_a<12>"    LOC = "E15";
#NET "sdram2_ba<0>"    LOC = "D18";
#NET "sdram2_ba<1>"    LOC = "B20";
#NET "sdram2_d<0>"     LOC = "E22";
#NET "sdram2_d<1>"     LOC = "C23";
#NET "sdram2_d<2>"     LOC = "E18";
#NET "sdram2_d<3>"     LOC = "D22";
#NET "sdram2_d<4>"     LOC = "C22";
#NET "sdram2_d<5>"     LOC = "A23";
#NET "sdram2_d<6>"     LOC = "B23";
#NET "sdram2_d<7>"     LOC = "A22";
#NET "sdram2_d<8>"     LOC = "C17";
#NET "sdram2_d<9>"     LOC = "C19";
#NET "sdram2_d<10>"    LOC = "C18";
#NET "sdram2_d<11>"    LOC = "D20";
#NET "sdram2_d<12>"    LOC = "E21";
#NET "sdram2_d<13>"    LOC = "C21";
#NET "sdram2_d<14>"    LOC = "E20";
#NET "sdram2_d<15>"    LOC = "D21";

#NET "ssram_clk"      LOC = "AD15";
#NET "ssram_adv_ld"   LOC = "AB15";
#NET "ssram_ce_n"     LOC = "AB16";
#NET "ssram_ce1_n"    LOC = "AE15";
#NET "ssram_oe_n"     LOC = "AE16";
#NET "ssram_we_n"     LOC = "AC16";
#NET "ssram_mode"     LOC = "AA20";
#NET "ssram_zz"       LOC = "AF20";
#NET "ssram_a<0>"     LOC = "AA18";
#NET "ssram_a<1>"     LOC = "AB19";
#NET "ssram_a<2>"     LOC = "AF16";
#NET "ssram_a<3>"     LOC = "AE17";
#NET "ssram_a<4>"     LOC = "AA16";
#NET "ssram_a<5>"     LOC = "AA15";
#NET "ssram_a<6>"     LOC = "AD23";
#NET "ssram_a<7>"     LOC = "AD22";
#NET "ssram_a<8>"     LOC = "AE22";
#NET "ssram_a<9>"     LOC = "AF22";
#NET "ssram_a<10>"    LOC = "AC19";
#NET "ssram_a<11>"    LOC = "AC20";
#NET "ssram_a<12>"    LOC = "AC21";
#NET "ssram_a<13>"    LOC = "AD19";
#NET "ssram_a<14>"    LOC = "AD21";
#NET "ssram_a<15>"    LOC = "AC18";
#NET "ssram_a<16>"    LOC = "AB18";
#NET "ssram_a<17>"    LOC = "AB14";
#NET "ssram_a<18>"    LOC = "AC17";
#NET "ssram_a<19>"    LOC = "AD17";
#NET "ssram_a<20>"    LOC = "AB22";
#NET "ssram_d<0>"     LOC = "AE19";
#NET "ssram_d<1>"     LOC = "AF17";
#NET "ssram_d<2>"     LOC = "AF15";
#NET "ssram_d<3>"     LOC = "AF19";
#NET "ssram_d<4>"     LOC = "AE20";
#NET "ssram_d<5>"     LOC = "AD18";
#NET "ssram_d<6>"     LOC = "AF21";
#NET "ssram_d<7>"     LOC = "AE21";
#NET "ssram_d<8>"     LOC = "AA17";
#NET "ssram_d<9>"     LOC = "AB17";
#NET "ssram_d<10>"    LOC = "Y18";
#NET "ssram_d<11>"    LOC = "Y19";
#NET "ssram_d<12>"    LOC = "AA19";
#NET "ssram_d<13>"    LOC = "AB20";
#NET "ssram_d<14>"    LOC = "AB21";
#NET "ssram_d<15>"    LOC = "AC22";
#NET "ssram_dp<0>"    LOC = "AE18";
#NET "ssram_dp<1>"    LOC = "AF23";

#NET "spi_clk"        LOC = "AD25";
#NET "spi_cs"         LOC = "AE24";
#NET "spi_dout"       LOC = "AE23";
#NET "spi_din"        LOC = "AF24";

NET "led<0>"        LOC = "Y17";
NET "led<1>"        LOC = "Y16";
NET "led<2>"        LOC = "W16";
NET "led<3>"        LOC = "W15";
#NET "extled<0>"     LOC = "AF4";
#NET "extled<1>"     LOC = "AD4";
#NET "extled<2>"     LOC = "AE4";
#NET "extled<3>"     LOC = "AB6";

#---------------------
# Expansion (JP2-XBUS)
#---------------------
#NET "xbus<0>"       LOC = "AB25"; # JP2_16
#NET "xbus<1>"       LOC = "AC25"; # JP2_15
#NET "xbus<2>"       LOC = "AB26"; # JP2_18
#NET "xbus<3>"       LOC = "AC26"; # JP2_17
#NET "xbus<4>"       LOC = "AA23"; # JP2_20
#NET "xbus<5>"       LOC = "Y25"; # JP2_19
#NET "xbus<6>"       LOC = "AA24"; # JP2_22
#NET "xbus<7>"       LOC = "Y26"; # JP2_21
#NET "xbus<8>"       LOC = "W25"; # JP2_24
#NET "xbus<9>"       LOC = "W23"; # JP2_23
#NET "xbus<10>"      LOC = "W26"; # JP2_26
#NET "xbus<11>"      LOC = "W24"; # JP2_25
#NET "xbus<12>"      LOC = "V22"; # JP2_28
#NET "xbus<13>"      LOC = "V24"; # JP2_27
#NET "xbus<14>"      LOC = "V23"; # JP2_30
#NET "xbus<15>"      LOC = "V25"; # JP2_29
#NET "xbus<16>"      LOC = "U25"; # JP2_32
#NET "xbus<17>"      LOC = "U23"; # JP2_31
#NET "xbus<18>"      LOC = "U26"; # JP2_34
#NET "xbus<19>"      LOC = "U24"; # JP2_33
#NET "xbus<20>"      LOC = "T25"; # JP2_38
#NET "xbus<21>"      LOC = "T23"; # JP2_37
#NET "xbus<22>"      LOC = "T26"; # JP2_40
#NET "xbus<23>"      LOC = "R24"; # JP2_39
#NET "xbus<24>"      LOC = "R25"; # JP2_42
#NET "xbus<25>"      LOC = "P23"; # JP2_41
#NET "xbus<26>"      LOC = "R26"; # JP2_44
#NET "xbus<27>"      LOC = "P24"; # JP2_43
#NET "xbus<28>"      LOC = "P25"; # JP2_46
#NET "xbus<29>"      LOC = "N24"; # JP2_45
#NET "xbus<30>"      LOC = "P26"; # JP2_48
#NET "xbus<31>"      LOC = "N23"; # JP2_47
#NET "xbus<32>"      LOC = "N26"; # JP2_50
#NET "xbus<33>"      LOC = "M24"; # JP2_49
#NET "xbus<34>"      LOC = "N25"; # JP2_52
#NET "xbus<35>"      LOC = "L23"; # JP2_51
#NET "xbus<36>"      LOC = "M26"; # JP2_54
#NET "xbus<37>"      LOC = "K24"; # JP2_53
#NET "xbus<38>"      LOC = "M25"; # JP2_58
#NET "xbus<39>"      LOC = "K23"; # JP2_57
#NET "xbus<40>"      LOC = "K26"; # JP2_60
#NET "xbus<41>"      LOC = "J25"; # JP2_59
#NET "xbus<42>"      LOC = "K25"; # JP2_62
#NET "xbus<43>"      LOC = "J24"; # JP2_61
#NET "xbus<44>"      LOC = "H24"; # JP2_64
#NET "xbus<45>"      LOC = "H26"; # JP2_63
#NET "xbus<46>"      LOC = "H23"; # JP2_66
#NET "xbus<47>"      LOC = "H25"; # JP2_65
#NET "xbus<48>"      LOC = "F26"; # JP2_68
#NET "xbus<49>"      LOC = "G26"; # JP2_67
#NET "xbus<50>"      LOC = "F25"; # JP2_70
#NET "xbus<51>"      LOC = "G25"; # JP2_69
#NET "xbus<52>"      LOC = "F24"; # JP2_72
#NET "xbus<53>"      LOC = "D26"; # JP2_71
#NET "xbus<54>"      LOC = "F23"; # JP2_74
#NET "xbus<55>"      LOC = "D25"; # JP2_73
#NET "xbus<56>"      LOC = "E24"; # JP2_76
#NET "xbus<57>"      LOC = "E23"; # JP2_75
#NET "xclk1"         LOC = "C14"; # JP2_77
#NET "xclk2"         LOC = "B14"; # JP2_79


#---------------------
# Expansion (JP3-YBUS)
#---------------------
#NET "ybus<0>"       LOC = "AB1"; # JP3_16
#NET "ybus<1>"       LOC = "AC1"; # JP3_15
#NET "ybus<2>"       LOC = "AB2"; # JP3_18
#NET "ybus<3>"       LOC = "AC2"; # JP3_17
#NET "ybus<4>"       LOC = "Y4"; # JP3_20
#NET "ybus<5>"       LOC = "AA3"; # JP3_19
#NET "ybus<6>"       LOC = "Y5"; # JP3_22
#NET "ybus<7>"       LOC = "AA4"; # JP3_21
#NET "ybus<8>"       LOC = "AA1"; # JP3_24
#NET "ybus<9>"       LOC = "Y1"; # JP3_23
#NET "ybus<10>"      LOC = "AA2"; # JP3_26
#NET "ybus<11>"      LOC = "Y2"; # JP3_25
#NET "ybus<12>"      LOC = "W3"; # JP3_28
#NET "ybus<13>"      LOC = "W1"; # JP3_27
#NET "ybus<14>"      LOC = "W4"; # JP3_30
#NET "ybus<15>"      LOC = "W2"; # JP3_29
#NET "ybus<16>"      LOC = "U1"; # JP3_32
#NET "ybus<17>"      LOC = "V2"; # JP3_31
#NET "ybus<18>"      LOC = "U2"; # JP3_34
#NET "ybus<19>"      LOC = "V3"; # JP3_33
#NET "ybus<20>"      LOC = "T1"; # JP3_38
#NET "ybus<21>"      LOC = "U3"; # JP3_37
#NET "ybus<22>"      LOC = "T2"; # JP3_40
#NET "ybus<23>"      LOC = "U4"; # JP3_39
#NET "ybus<24>"      LOC = "P1"; # JP3_42
#NET "ybus<25>"      LOC = "R1"; # JP3_41
#NET "ybus<26>"      LOC = "P2"; # JP3_44
#NET "ybus<27>"      LOC = "R2"; # JP3_43
#NET "ybus<28>"      LOC = "N2"; # JP3_46
#NET "ybus<29>"      LOC = "P3"; # JP3_45
#NET "ybus<30>"      LOC = "N1"; # JP3_48
#NET "ybus<31>"      LOC = "P4"; # JP3_47
#NET "ybus<32>"      LOC = "M2"; # JP3_50
#NET "ybus<33>"      LOC = "N4"; # JP3_49
#NET "ybus<34>"      LOC = "M1"; # JP3_52
#NET "ybus<35>"      LOC = "N3"; # JP3_51
#NET "ybus<36>"      LOC = "L2"; # JP3_54
#NET "ybus<37>"      LOC = "L4"; # JP3_53
#NET "ybus<38>"      LOC = "L1"; # JP3_58
#NET "ybus<39>"      LOC = "M3"; # JP3_57
#NET "ybus<40>"      LOC = "K4"; # JP3_60
#NET "ybus<41>"      LOC = "K2"; # JP3_59
#NET "ybus<42>"      LOC = "K3"; # JP3_62
#NET "ybus<43>"      LOC = "K1"; # JP3_61
#NET "ybus<44>"      LOC = "H2"; # JP3_64
#NET "ybus<45>"      LOC = "J3"; # JP3_63
#NET "ybus<46>"      LOC = "H1"; # JP3_66
#NET "ybus<47>"      LOC = "J2"; # JP3_65
#NET "ybus<48>"      LOC = "G2"; # JP3_68
#NET "ybus<49>"      LOC = "H4"; # JP3_67
#NET "ybus<50>"      LOC = "G1"; # JP3_70
#NET "ybus<51>"      LOC = "H3"; # JP3_69
#NET "ybus<52>"      LOC = "D2"; # JP3_72
#NET "ybus<53>"      LOC = "E2"; # JP3_71
#NET "ybus<54>"      LOC = "D1"; # JP3_74
#NET "ybus<55>"      LOC = "E1"; # JP3_73
#NET "ybus<56>"      LOC = "E3"; # JP3_76
#NET "ybus<57>"      LOC = "E4"; # JP3_75
#NET "yclk1"         LOC = "A13"; # JP3_77
#NET "yclk2"         LOC = "B13"; # JP3_79
