############################################################################
# XEM7350 - Xilinx constraints file
#
# Pin mappings for the XEM7350-K70T.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2013 Opal Kelly Incorporated
# $Rev$ $Date$
############################################################################
NET "okUH[0]" TNM_NET = "okHostClk";
TIMESPEC "TS_okHostClk" = PERIOD "okHostClk" 9.92 ns HIGH 50%;

NET "okUHU[*]" TNM = "okHostINOUT_grp";
TIMEGRP "okHostINOUT_grp" OFFSET = IN 2 ns VALID 4 ns BEFORE "okUH[0]" RISING;
TIMEGRP "okHostINOUT_grp" OFFSET = OUT 8 ns AFTER "okUH[0]" RISING;

NET "okHU[2]" TNM = "okHostOUT_grp";
NET "okHU[0]" TNM = "okHostOUT_grp";
NET "okHU[1]" TNM = "okHostOUT_grp";
TIMEGRP "okHostOUT_grp" OFFSET = OUT 8 ns AFTER "okUH[0]" RISING;

NET "okUH[4]"   TNM = "okHostIN_grp";
NET "okUH[3]"   TNM = "okHostIN_grp";
NET "okUH[2]"   TNM = "okHostIN_grp";
NET "okUH[1]"   TNM = "okHostIN_grp";
TIMEGRP "okHostIN_grp" OFFSET = IN 2 ns VALID 12 ns BEFORE "okUH[0]" RISING;

############################################################################
## System Clocks                                                        
############################################################################
NET "sys_clkp"       LOC=AC4      | IOSTANDARD=LVDS;
NET "sys_clkn"       LOC=AC3      | IOSTANDARD=LVDS;

NET "sys_clkp" TNM_NET = "okSysClk";
TIMESPEC "TS_okSysClk" = PERIOD "okSysClk" 5 ns HIGH 50%;

############################################################################
## FrontPanel Host Interface
############################################################################
NET "okHU[0]"        LOC="F23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okHU[1]"        LOC="H23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okHU[2]"        LOC="J25"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";

NET "okUH[0]"        LOC="F22"    | IOSTANDARD="LVCMOS18";
NET "okUH[1]"        LOC="G24"    | IOSTANDARD="LVCMOS18";
NET "okUH[2]"        LOC="J26"    | IOSTANDARD="LVCMOS18";
NET "okUH[3]"        LOC="G26"    | IOSTANDARD="LVCMOS18";
NET "okUH[4]"        LOC="C23"    | IOSTANDARD="LVCMOS18";

NET "okUHU<0>"       LOC="B21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<1>"       LOC="C21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<2>"       LOC="E22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<3>"       LOC="A20"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<4>"       LOC="B20"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<5>"       LOC="C22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<6>"       LOC="D21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<7>"       LOC="C24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<8>"       LOC="C26"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<9>"       LOC="D26"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<10>"      LOC="A24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<11>"      LOC="A23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<12>"      LOC="A22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<13>"      LOC="B22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<14>"      LOC="A25"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<15>"      LOC="B24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<16>"      LOC="G21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<17>"      LOC="E23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<18>"      LOC="E21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<19>"      LOC="H22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<20>"      LOC="D23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<21>"      LOC="J21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<22>"      LOC="K22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<23>"      LOC="D24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<24>"      LOC="K23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<25>"      LOC="H24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<26>"      LOC="F24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<27>"      LOC="D25"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<28>"      LOC="J24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<29>"      LOC="B26"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<30>"      LOC="H26"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<31>"      LOC="E26"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";

NET "okAA"           LOC="R26"    | IOSTANDARD="LVCMOS33";

############################################################################
## Expansion Connectors
############################################################################

# FMC  ###############################################################
#   IOSTANDARDS assume VADJ = VIO_B_M2C = 2.5V 
#   make adjustemts as necessary for other voltages/standards.
######################################################################

# LA[33..0] ######################################
NET "la_p[0]"   LOC=H17 | IOSTANDARD=LVCMOS25;
NET "la_n[0]"   LOC=H18 | IOSTANDARD=LVCMOS25;
NET "la_p[1]"   LOC=G17 | IOSTANDARD=LVCMOS25;
NET "la_n[1]"   LOC=F18 | IOSTANDARD=LVCMOS25;
NET "la_p[2]"   LOC=G19 | IOSTANDARD=LVCMOS25;
NET "la_n[2]"   LOC=F20 | IOSTANDARD=LVCMOS25;
NET "la_p[3]"   LOC=A18 | IOSTANDARD=LVCMOS25;
NET "la_n[3]"   LOC=A19 | IOSTANDARD=LVCMOS25;
NET "la_p[4]"   LOC=D19 | IOSTANDARD=LVCMOS25;
NET "la_n[4]"   LOC=D20 | IOSTANDARD=LVCMOS25;
NET "la_p[5]"   LOC=C17 | IOSTANDARD=LVCMOS25;
NET "la_n[5]"   LOC=C18 | IOSTANDARD=LVCMOS25;
NET "la_p[6]"   LOC=C19 | IOSTANDARD=LVCMOS25;
NET "la_n[6]"   LOC=B19 | IOSTANDARD=LVCMOS25;
NET "la_p[7]"   LOC=J18 | IOSTANDARD=LVCMOS25;
NET "la_n[7]"   LOC=J19 | IOSTANDARD=LVCMOS25;

NET "la_p[8]"   LOC=F19 | IOSTANDARD=LVCMOS25;
NET "la_n[8]"   LOC=E20 | IOSTANDARD=LVCMOS25;
NET "la_p[9]"   LOC=L19 | IOSTANDARD=LVCMOS25;
NET "la_n[9]"   LOC=L20 | IOSTANDARD=LVCMOS25;
NET "la_p[10]"  LOC=B17 | IOSTANDARD=LVCMOS25;
NET "la_n[10]"  LOC=A17 | IOSTANDARD=LVCMOS25;
NET "la_p[11]"  LOC=C16 | IOSTANDARD=LVCMOS25;
NET "la_n[11]"  LOC=B16 | IOSTANDARD=LVCMOS25;
NET "la_p[12]"  LOC=H19 | IOSTANDARD=LVCMOS25;
NET "la_n[12]"  LOC=G20 | IOSTANDARD=LVCMOS25;
NET "la_p[13]"  LOC=E15 | IOSTANDARD=LVCMOS25;
NET "la_n[13]"  LOC=E16 | IOSTANDARD=LVCMOS25;
NET "la_p[14]"  LOC=H16 | IOSTANDARD=LVCMOS25;
NET "la_n[14]"  LOC=G16 | IOSTANDARD=LVCMOS25;
NET "la_p[15]"  LOC=K16 | IOSTANDARD=LVCMOS25;
NET "la_n[15]"  LOC=K17 | IOSTANDARD=LVCMOS25;

NET "la_p[16]"  LOC=A9  | IOSTANDARD=LVCMOS25;
NET "la_n[16]"  LOC=A8  | IOSTANDARD=LVCMOS25;
NET "la_p[17]"  LOC=E10 | IOSTANDARD=LVCMOS25;
NET "la_n[17]"  LOC=D10 | IOSTANDARD=LVCMOS25;
NET "la_p[18]"  LOC=F17 | IOSTANDARD=LVCMOS25;
NET "la_n[18]"  LOC=E17 | IOSTANDARD=LVCMOS25;
NET "la_p[19]"  LOC=M17 | IOSTANDARD=LVCMOS25;
NET "la_n[19]"  LOC=L18 | IOSTANDARD=LVCMOS25;
NET "la_p[20]"  LOC=L17 | IOSTANDARD=LVCMOS25;
NET "la_n[20]"  LOC=K18 | IOSTANDARD=LVCMOS25;
NET "la_p[21]"  LOC=G15 | IOSTANDARD=LVCMOS25;
NET "la_n[21]"  LOC=F15 | IOSTANDARD=LVCMOS25;
NET "la_p[22]"  LOC=G11 | IOSTANDARD=LVCMOS25;
NET "la_n[22]"  LOC=F10 | IOSTANDARD=LVCMOS25;
NET "la_p[23]"  LOC=F14 | IOSTANDARD=LVCMOS25;
NET "la_n[23]"  LOC=F13 | IOSTANDARD=LVCMOS25;

NET "la_p[24]"  LOC=H14 | IOSTANDARD=LVCMOS25;
NET "la_n[24]"  LOC=G14 | IOSTANDARD=LVCMOS25;
NET "la_p[25]"  LOC=J15 | IOSTANDARD=LVCMOS25;
NET "la_n[25]"  LOC=J16 | IOSTANDARD=LVCMOS25;
NET "la_p[26]"  LOC=C9  | IOSTANDARD=LVCMOS25;
NET "la_n[26]"  LOC=B9  | IOSTANDARD=LVCMOS25;
NET "la_p[27]"  LOC=D9  | IOSTANDARD=LVCMOS25;
NET "la_n[27]"  LOC=D8  | IOSTANDARD=LVCMOS25;
NET "la_p[28]"  LOC=G12 | IOSTANDARD=LVCMOS25;
NET "la_n[28]"  LOC=F12 | IOSTANDARD=LVCMOS25;
NET "la_p[29]"  LOC=J13 | IOSTANDARD=LVCMOS25;
NET "la_n[29]"  LOC=H13 | IOSTANDARD=LVCMOS25;
NET "la_p[30]"  LOC=G10 | IOSTANDARD=LVCMOS25;
NET "la_n[30]"  LOC=G9  | IOSTANDARD=LVCMOS25;
NET "la_p[31]"  LOC=J11 | IOSTANDARD=LVCMOS25;
NET "la_n[31]"  LOC=J10 | IOSTANDARD=LVCMOS25;

NET "la_p[32]"  LOC=H9  | IOSTANDARD=LVCMOS25;
NET "la_n[32]"  LOC=H8  | IOSTANDARD=LVCMOS25;
NET "la_p[33]"  LOC=F9  | IOSTANDARD=LVCMOS25;
NET "la_n[33]"  LOC=F8  | IOSTANDARD=LVCMOS25;

############################################################################
## Peripherals
############################################################################

# LEDs #####################################################################
NET "led<0>"           LOC="T24" | IOSTANDARD="LVCMOS33";
NET "led<1>"           LOC="T25" | IOSTANDARD="LVCMOS33";
NET "led<2>"           LOC="R25" | IOSTANDARD="LVCMOS33";
NET "led<3>"           LOC="P26" | IOSTANDARD="LVCMOS33";