#-------------------------------------------------------------------------
# XEM3001v2 - Xilinx constraints file
#
# Pin mappings for the XEM3001v2.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# This file has been augmented to include pin names for the RAM3001
# daughterboard.
#
# Copyright (c) 2004-2006 Opal Kelly Incorporated
# $Rev$ $Date$
#-------------------------------------------------------------------------

#-------------------------------
# FrontPanel Host Interface pins
#-------------------------------
NET "hi_in<0>"			LOC = "P79";
NET "hi_in<1>"			LOC = "P57";
NET "hi_in<2>"			LOC = "P58";
NET "hi_in<3>"			LOC = "P78";
NET "hi_in<4>"			LOC = "P61";
NET "hi_in<5>"			LOC = "P62";
NET "hi_in<6>"			LOC = "P63";
NET "hi_in<7>"			LOC = "P64";
NET "hi_out<0>"		LOC = "P81";
NET "hi_out<1>"		LOC = "P85";
NET "hi_inout<0>"		LOC = "P67";
NET "hi_inout<1>"		LOC = "P68";
NET "hi_inout<2>"		LOC = "P72";
NET "hi_inout<3>"		LOC = "P74";
NET "hi_inout<4>"		LOC = "P86";
NET "hi_inout<5>"		LOC = "P87";
NET "hi_inout<6>"		LOC = "P90";
NET "hi_inout<7>"		LOC = "P92";
NET "hi_inout<8>"		LOC = "P93";
NET "hi_inout<9>"		LOC = "P94";
NET "hi_inout<10>"	LOC = "P95";
NET "hi_inout<11>"	LOC = "P96";
NET "hi_inout<12>"	LOC = "P97";
NET "hi_inout<13>"	LOC = "P100";
NET "hi_inout<14>"	LOC = "P101";
NET "hi_inout<15>"	LOC = "P102";

#---------------
# PLL Clock pins
#---------------
NET "clk1"		LOC = "P80";
NET "clk1" TNM_NET="clk1";
TIMESPEC "TS_clk1" = PERIOD "clk1" 7.0 ns HIGH 50%;

NET "clk2"		LOC = "P77";
#NET "clk3"		LOC = "P76";

#----------------
# Port JP1 (zbus)
#----------------
#NET "zclk1"	LOC = "P183";		# JP1-17
#NET "zclk2"	LOC = "P181";		# JP1-18
#NET "sram_clk_fb"	LOC = "P187";	# JP1-3
#NET "sram_d<0>"	LOC = "P185";	# JP1-4
#NET "sram_d<1>"	LOC = "P182";	# JP1-5
#NET "sram_a<17>"	LOC = "P178";	# JP1-6
#NET "sram_a<16>"	LOC = "P176";	# JP1-7
#NET "sram_a<15>"	LOC = "P175";	# JP1-8
#NET "sram_a<14>"	LOC = "P172";	# JP1-9
#NET "sram_a<13>"	LOC = "P171";	# JP1-10
#NET "sram_a<12>"	LOC = "P169";	# JP1-11
#NET "sram_a<11>"	LOC = "P168";	# JP1-12
#NET "zbus<10>"	LOC = "P167";	# JP1-13
#NET "zbus<11>"	LOC = "P166";	# JP1-14
#NET "zbus<12>"	LOC = "P165";	# JP1-15
#NET "zbus<13>"	LOC = "P162";	# JP1-16

#----------------
# Port JP2 (ybus)
#----------------
#NET "clk1x"	LOC = "P184";	# JP2-4
NET "sdram_d<12>"	LOC = "P52" | FAST | DRIVE=16;	# JP2-48
NET "sdram_d<13>"	LOC = "P51" | FAST | DRIVE=16;	# JP2-47
NET "sdram_d<14>"	LOC = "P50" | FAST | DRIVE=16;	# JP2-46
NET "sdram_d<15>"	LOC = "P48" | FAST | DRIVE=16;	# JP2-45
NET "sdram_d<11>"	LOC = "P46" | FAST | DRIVE=16;	# JP2-44
NET "sdram_d<10>"	LOC = "P45" | FAST | DRIVE=16;	# JP2-43
NET "sdram_d<9>"	LOC = "P44" | FAST | DRIVE=16;	# JP2-40
NET "sdram_d<8>"	LOC = "P43" | FAST | DRIVE=16;	# JP2-39
NET "sdram_d<0>"	LOC = "P42" | FAST | DRIVE=16;	# JP2-38
NET "sdram_d<1>"	LOC = "P40" | FAST | DRIVE=16;	# JP2-37
NET "sdram_d<2>"	LOC = "P39" | FAST | DRIVE=16;	# JP2-36
NET "sdram_d<3>"	LOC = "P37" | FAST | DRIVE=16;	# JP2-35
NET "sdram_d<4>"	LOC = "P36" | FAST | DRIVE=16;	# JP2-34
NET "sdram_d<5>"	LOC = "P35" | FAST | DRIVE=16;	# JP2-33
NET "sdram_d<6>"	LOC = "P34" | FAST | DRIVE=16;	# JP2-30
NET "sdram_d<7>"	LOC = "P33" | FAST | DRIVE=16;	# JP2-29
NET "sdram_we_n"	LOC = "P31" | FAST | DRIVE=16;	# JP2-28
NET "sdram_cas_n"	LOC = "P29" | FAST | DRIVE=16;	# JP2-27
NET "sdram_ras_n"	LOC = "P28" | FAST | DRIVE=16;	# JP2-26
NET "sdram_cs_n"	LOC = "P27" | FAST | DRIVE=16;	# JP2-25
NET "sdram_ba<0>"	LOC = "P26" | FAST | DRIVE=16;	# JP2-24
NET "sdram_ba<1>"	LOC = "P24" | FAST | DRIVE=16;	# JP2-23
NET "sdram_a<10>"	LOC = "P22" | FAST | DRIVE=16;	# JP2-22
NET "sdram_a<0>"	LOC = "P21" | FAST | DRIVE=16;	# JP2-21
NET "sdram_a<2>"	LOC = "P20" | FAST | DRIVE=16;	# JP2-18
NET "sdram_a<1>"	LOC = "P19" | FAST | DRIVE=16;	# JP2-17
NET "sdram_cke"	LOC = "P18" | FAST | DRIVE=16;	# JP2-16
NET "sdram_a<3>"	LOC = "P16" | FAST | DRIVE=16;	# JP2-15
NET "sdram_a<11>"	LOC = "P15" | FAST | DRIVE=16;	# JP2-14
NET "sdram_a<12>"	LOC = "P13" | FAST | DRIVE=16;	# JP2-13
NET "sdram_a<4>"	LOC = "P12" | FAST | DRIVE=16;	# JP2-12
NET "sdram_a<9>"	LOC = "P11" | FAST | DRIVE=16;	# JP2-11
NET "sdram_a<6>"	LOC = "P10" | FAST | DRIVE=16;	# JP2-8
NET "sdram_a<5>"	LOC = "P9" | FAST | DRIVE=16;		# JP2-7
NET "sdram_a<8>"	LOC = "P7" | FAST | DRIVE=16;		# JP2-6
NET "sdram_a<7>"	LOC = "P5" | FAST | DRIVE=16;		# JP2-5

#----------------
# Port JP3 (xbus)
#----------------
#NET "sram_clk"	LOC = "P180";	# JP3-47
#NET "sram_d<2>"	LOC = "P156";	# JP3-3
#NET "xbus<1>"	LOC = "P155";	# JP3-4
#NET "sram_a<0>"	LOC = "P154";	# JP3-5
#NET "xbus<3>"	LOC = "P152";	# JP3-6
#NET "sram_a<1>"	LOC = "P150";	# JP3-7
#NET "sram_a<2>"	LOC = "P149";	# JP3-8
#NET "sram_a<3>"	LOC = "P148";	# JP3-11
#NET "sram_a<4>"	LOC = "P147";	# JP3-12
#NET "sram_a<5>"	LOC = "P146";	# JP3-13
#NET "sram_mode"	LOC = "P144";	# JP3-14
#NET "sram_p<1>"	LOC = "P143";	# JP3-15
#NET "sram_d<15>"	LOC = "P141";	# JP3-16
#NET "sram_d<14>"	LOC = "P140";	# JP3-17
#NET "sram_d<13>"	LOC = "P139";	# JP3-18
#NET "sram_d<12>"	LOC = "P138";	# JP3-21
#NET "sram_d<11>"	LOC = "P137";	# JP3-22
#NET "sram_d<10>"	LOC = "P135";	# JP3-23
#NET "sram_d<9>"	LOC = "P133";	# JP3-24
#NET "sram_d<3>"	LOC = "P132";	# JP3-25
#NET "sram_d<8>"	LOC = "P131";	# JP3-26
#NET "sram_d<4>"	LOC = "P130";	# JP3-27
#NET "sram_zz"	LOC = "P128";	# JP3-28
#NET "sram_d<6>"	LOC = "P126";	# JP3-29
#NET "sram_d<5>"	LOC = "P125";	# JP3-30
#NET "sram_p<0>"	LOC = "P124";	# JP3-33
#NET "sram_d<7>"	LOC = "P123";	# JP3-34
#NET "sram_a<7>"	LOC = "P122";	# JP3-35
#NET "sram_a<6>"	LOC = "P120";	# JP3-36
#NET "sram_we"	LOC = "P119";	# JP3-37
#NET "sram_ce1"	LOC = "P117";	# JP3-38
#NET "sram_oe"	LOC = "P116";	# JP3-39
#NET "sram_cen"	LOC = "P115";	# JP3-40
#NET "sram_a<8>"	LOC = "P114";	# JP3-43
#NET "sram_adv_ld"	LOC = "P113";	# JP3-44
#NET "sram_a<10>"	LOC = "P111";	# JP3-45
#NET "sram_a<9>"	LOC = "P109";	# JP3-46

#------------
# Peripherals
#------------
NET "led<0>"  LOC = "P205";
NET "led<1>"  LOC = "P204";
NET "led<2>"  LOC = "P203";
NET "led<3>"  LOC = "P200";
NET "led<4>"  LOC = "P199";
NET "led<5>"  LOC = "P198";
NET "led<6>"  LOC = "P197";
NET "led<7>"  LOC = "P196";

#NET "button<0>" LOC = "P194";
#NET "button<1>" LOC = "P191";
#NET "button<2>" LOC = "P190";
#NET "button<3>" LOC = "P189";
