#-------------------------------------------------------------------------
# XEM3020 - Xilinx constraints file
#
# Pin mappings for the XEM3020.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2007 Opal Kelly Incorporated
# $Rev$ $Date$
#-------------------------------------------------------------------------

#-------------------------------
# FrontPanel Host Interface pins
#-------------------------------
NET "hi_in<0>"			LOC = "H11";
NET "hi_in<1>"			LOC = "Y5";
NET "hi_in<2>"			LOC = "R12";
NET "hi_in<3>"			LOC = "AB19";
NET "hi_in<4>"			LOC = "V16";
NET "hi_in<5>"			LOC = "U16";
NET "hi_in<6>"			LOC = "AB18";
NET "hi_in<7>"			LOC = "AB17";
NET "hi_out<0>"		LOC = "W5";
NET "hi_out<1>"		LOC = "Y15";
NET "hi_inout<0>"		LOC = "V11";
NET "hi_inout<1>"		LOC = "U11";
NET "hi_inout<2>"		LOC = "AB11";
NET "hi_inout<3>"		LOC = "R11";
NET "hi_inout<4>"		LOC = "T11";
NET "hi_inout<5>"		LOC = "Y12";
NET "hi_inout<6>"		LOC = "W12";
NET "hi_inout<7>"		LOC = "U12";
NET "hi_inout<8>"		LOC = "AA17";
NET "hi_inout<9>"		LOC = "W18";
NET "hi_inout<10>"	LOC = "W17";
NET "hi_inout<11>"	LOC = "AB21";
NET "hi_inout<12>"	LOC = "Y18";
NET "hi_inout<13>"	LOC = "AB13";
NET "hi_inout<14>"	LOC = "AB15";
NET "hi_inout<15>"	LOC = "AB16";

NET "hi_muxsel"      LOC = "V12";
NET "vcco_enable"    LOC = "T10";
NET "vcco0_sel"      LOC = "R10";
NET "vcco3_sel"      LOC = "P10";


#---------------
# PLL Clock pins
#---------------
#NET "clk1"           LOC = "H12";
NET "ti_clk" TNM_NET="TNM_ti_clk";
TIMEGRP "TNM_ti_clk" AREA_GROUP = "okHI";
AREA_GROUP "okHI" RANGE=CLOCKREGION_X1Y0,CLOCKREGION_X1Y1;

#------------
# Peripherals
#------------
#NET "sdram_clk"      LOC = "P16";
#NET "sdram_cke"      LOC = "R19";
#NET "sdram_cas_n"    LOC = "L21";
#NET "sdram_ras_n"    LOC = "R20";
#NET "sdram_we_n"     LOC = "T22";
#NET "sdram_cs_n"     LOC = "R22";
#NET "sdram_lqdm"     LOC = "U21";
#NET "sdram_uqdm"     LOC = "L18";
#NET "sdram_a<0>"     LOC = "M20";
#NET "sdram_a<1>"     LOC = "N20";
#NET "sdram_a<2>"     LOC = "N22";
#NET "sdram_a<3>"     LOC = "M22";
#NET "sdram_a<4>"     LOC = "K22";
#NET "sdram_a<5>"     LOC = "K19";
#NET "sdram_a<6>"     LOC = "N18";
#NET "sdram_a<7>"     LOC = "M16";
#NET "sdram_a<8>"     LOC = "L20";
#NET "sdram_a<9>"     LOC = "P18";
#NET "sdram_a<10>"    LOC = "P22";
#NET "sdram_a<11>"    LOC = "N19";
#NET "sdram_a<12>"    LOC = "L19";
#NET "sdram_ba<0>"    LOC = "L22";
#NET "sdram_ba<1>"    LOC = "R21";
#NET "sdram_d<0>"     LOC = "AA22";
#NET "sdram_d<1>"     LOC = "Y22";
#NET "sdram_d<2>"     LOC = "Y21";
#NET "sdram_d<3>"     LOC = "W22";
#NET "sdram_d<4>"     LOC = "W21";
#NET "sdram_d<5>"     LOC = "V22";
#NET "sdram_d<6>"     LOC = "U20";
#NET "sdram_d<7>"     LOC = "U22";
#NET "sdram_d<8>"     LOC = "K16";
#NET "sdram_d<9>"     LOC = "R18";
#NET "sdram_d<10>"    LOC = "V19";
#NET "sdram_d<11>"    LOC = "T19";
#NET "sdram_d<12>"    LOC = "W20";
#NET "sdram_d<13>"    LOC = "T18";
#NET "sdram_d<14>"    LOC = "V20";
#NET "sdram_d<15>"    LOC = "U19";

NET "led<0>"        LOC = "AA14";
NET "led<1>"        LOC = "AB14";
NET "led<2>"        LOC = "AA15";
NET "led<3>"        LOC = "Y14";
NET "led<4>"        LOC = "W14";
NET "led<5>"        LOC = "V14";
NET "led<6>"        LOC = "U13";
NET "led<7>"        LOC = "U14";

#NET "dip<0>"        LOC = "Y6";
#NET "dip<1>"        LOC = "W10";
#NET "dip<2>"        LOC = "Y10";
#NET "dip<3>"        LOC = "AA4";
#NET "dip<4>"        LOC = "AA6";
#NET "dip<5>"        LOC = "AB6";
#NET "dip<6>"        LOC = "AB7";
#NET "dip<7>"        LOC = "Y11";

#NET "button<0>"     LOC = "AB2";
#NET "button<1>"     LOC = "Y4";

