#-------------------------------------------------------------------------
# XEM5010 - Xilinx constraints file
#
# Pin mappings for the XEM5010.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2009 Opal Kelly Incorporated
# $Rev$ $Date$
#-------------------------------------------------------------------------

#-------------------------------
# FrontPanel Host Interface pins
#-------------------------------
NET "hi_in<0>"      LOC="AD13" | IOSTANDARD="LVCMOS33";
NET "hi_in<1>"      LOC="AD15" | IOSTANDARD="LVCMOS33";
NET "hi_in<2>"      LOC="AD14" | IOSTANDARD="LVCMOS33";
NET "hi_in<3>"      LOC="AB12" | IOSTANDARD="LVCMOS33";
NET "hi_in<4>"      LOC="Y8"   | IOSTANDARD="LVCMOS33";
NET "hi_in<5>"      LOC="AA8"  | IOSTANDARD="LVCMOS33";
NET "hi_in<6>"      LOC="AA17" | IOSTANDARD="LVCMOS33";
NET "hi_in<7>"      LOC="AB17" | IOSTANDARD="LVCMOS33";
NET "hi_out<0>"     LOC="AC14" | IOSTANDARD="LVCMOS33";
NET "hi_out<1>"     LOC="AC11" | IOSTANDARD="LVCMOS33";
NET "hi_inout<0>"   LOC="AD18" | IOSTANDARD="LVCMOS33";
NET "hi_inout<1>"   LOC="AC18" | IOSTANDARD="LVCMOS33";
NET "hi_inout<2>"   LOC="AB10" | IOSTANDARD="LVCMOS33";
NET "hi_inout<3>"   LOC="AB9"  | IOSTANDARD="LVCMOS33";
NET "hi_inout<4>"   LOC="AC17" | IOSTANDARD="LVCMOS33";
NET "hi_inout<5>"   LOC="AC16" | IOSTANDARD="LVCMOS33";
NET "hi_inout<6>"   LOC="AC8"  | IOSTANDARD="LVCMOS33";
NET "hi_inout<7>"   LOC="AC9"  | IOSTANDARD="LVCMOS33";
NET "hi_inout<8>"   LOC="Y12"  | IOSTANDARD="LVCMOS33";
NET "hi_inout<9>"   LOC="Y13"  | IOSTANDARD="LVCMOS33";
NET "hi_inout<10>"  LOC="AA15" | IOSTANDARD="LVCMOS33";
NET "hi_inout<11>"  LOC="AB14" | IOSTANDARD="LVCMOS33";
NET "hi_inout<12>"  LOC="AA12" | IOSTANDARD="LVCMOS33";
NET "hi_inout<13>"  LOC="AB11" | IOSTANDARD="LVCMOS33";
NET "hi_inout<14>"  LOC="AA13" | IOSTANDARD="LVCMOS33";
NET "hi_inout<15>"  LOC="AA14" | IOSTANDARD="LVCMOS33";
NET "hi_muxsel"     LOC="AB15" | IOSTANDARD="LVCMOS33";


#---------------
# OSC Clock pins
#---------------
NET "osc_clkp"        LOC="AD8";
NET "osc_clkn"        LOC="AC7";

#NET "spi_clk"        LOC="AA18" | IOSTANDARD="LVCMOS33";
#NET "spi_cs"         LOC="AA10" | IOSTANDARD="LVCMOS33";
#NET "spi_dout"       LOC="Y18" | IOSTANDARD="LVCMOS33";
#NET "spi_din"        LOC="AA9" | IOSTANDARD="LVCMOS33";

NET "led<0>"        LOC="AD10" | IOSTANDARD="LVCMOS33";
NET "led<1>"        LOC="AC12" | IOSTANDARD="LVCMOS33";
NET "led<2>"        LOC="AD11" | IOSTANDARD="LVCMOS33";
NET "led<3>"        LOC="AC13" | IOSTANDARD="LVCMOS33";

#NET "extled<0>"     LOC="AF17";
#NET "extled<1>"     LOC="AE17";
#NET "extled<2>"     LOC="AE16";
#NET "extled<3>"     LOC="AF14";

#------------
# Peripherals
#------------
#NET "sdram_clk"      LOC = "";
#NET "sdram_cke"      LOC = "";
#NET "sdram_cas_n"    LOC = "";
#NET "sdram_ras_n"    LOC = "";
#NET "sdram_we_n"     LOC = "";
#NET "sdram_cs_n"     LOC = "";
#NET "sdram_lqdm"     LOC = "";
#NET "sdram_uqdm"     LOC = "";
#NET "sdram_a<0>"     LOC = "";
#NET "sdram_a<1>"     LOC = "";
#NET "sdram_a<2>"     LOC = "";
#NET "sdram_a<3>"     LOC = "";
#NET "sdram_a<4>"     LOC = "";
#NET "sdram_a<5>"     LOC = "";
#NET "sdram_a<6>"     LOC = "";
#NET "sdram_a<7>"     LOC = "";
#NET "sdram_a<8>"     LOC = "";
#NET "sdram_a<9>"     LOC = "";
#NET "sdram_a<10>"    LOC = "";
#NET "sdram_a<11>"    LOC = "";
#NET "sdram_a<12>"    LOC = "";
#NET "sdram_ba<0>"    LOC = "";
#NET "sdram_ba<1>"    LOC = "";
#NET "sdram_d<0>"     LOC = "";
#NET "sdram_d<1>"     LOC = "";
#NET "sdram_d<2>"     LOC = "";
#NET "sdram_d<3>"     LOC = "";
#NET "sdram_d<4>"     LOC = "";
#NET "sdram_d<5>"     LOC = "";
#NET "sdram_d<6>"     LOC = "";
#NET "sdram_d<7>"     LOC = "";
#NET "sdram_d<8>"     LOC = "";
#NET "sdram_d<9>"     LOC = "";
#NET "sdram_d<10>"    LOC = "";
#NET "sdram_d<11>"    LOC = "";
#NET "sdram_d<12>"    LOC = "";
#NET "sdram_d<13>"    LOC = "";
#NET "sdram_d<14>"    LOC = "";
#NET "sdram_d<15>"    LOC = "";

#NET "sdram2_clk"      LOC = "";
#NET "sdram2_cke"      LOC = "";
#NET "sdram2_cas_n"    LOC = "";
#NET "sdram2_ras_n"    LOC = "";
#NET "sdram2_we_n"     LOC = "";
#NET "sdram2_cs_n"     LOC = "";
#NET "sdram2_lqdm"     LOC = "";
#NET "sdram2_uqdm"     LOC = "";
#NET "sdram2_a<0>"     LOC = "";
#NET "sdram2_a<1>"     LOC = "";
#NET "sdram2_a<2>"     LOC = "";
#NET "sdram2_a<3>"     LOC = "";
#NET "sdram2_a<4>"     LOC = "";
#NET "sdram2_a<5>"     LOC = "";
#NET "sdram2_a<6>"     LOC = "";
#NET "sdram2_a<7>"     LOC = "";
#NET "sdram2_a<8>"     LOC = "";
#NET "sdram2_a<9>"     LOC = "";
#NET "sdram2_a<10>"    LOC = "";
#NET "sdram2_a<11>"    LOC = "";
#NET "sdram2_a<12>"    LOC = "";
#NET "sdram2_ba<0>"    LOC = "";
#NET "sdram2_ba<1>"    LOC = "";
#NET "sdram2_d<0>"     LOC = "";
#NET "sdram2_d<1>"     LOC = "";
#NET "sdram2_d<2>"     LOC = "";
#NET "sdram2_d<3>"     LOC = "";
#NET "sdram2_d<4>"     LOC = "";
#NET "sdram2_d<5>"     LOC = "";
#NET "sdram2_d<6>"     LOC = "";
#NET "sdram2_d<7>"     LOC = "";
#NET "sdram2_d<8>"     LOC = "";
#NET "sdram2_d<9>"     LOC = "";
#NET "sdram2_d<10>"    LOC = "";
#NET "sdram2_d<11>"    LOC = "";
#NET "sdram2_d<12>"    LOC = "";
#NET "sdram2_d<13>"    LOC = "";
#NET "sdram2_d<14>"    LOC = "";
#NET "sdram2_d<15>"    LOC = "";

#NET "ssram_clk"      LOC = "";
#NET "ssram_adv_ld"   LOC = "";
#NET "ssram_ce_n"     LOC = "";
#NET "ssram_ce1_n"    LOC = "";
#NET "ssram_oe_n"     LOC = "";
#NET "ssram_we_n"     LOC = "";
#NET "ssram_mode"     LOC = "";
#NET "ssram_zz"       LOC = "";
#NET "ssram_a<0>"     LOC = "";
#NET "ssram_a<1>"     LOC = "";
#NET "ssram_a<2>"     LOC = "";
#NET "ssram_a<3>"     LOC = "";
#NET "ssram_a<4>"     LOC = "";
#NET "ssram_a<5>"     LOC = "";
#NET "ssram_a<6>"     LOC = "";
#NET "ssram_a<7>"     LOC = "";
#NET "ssram_a<8>"     LOC = "";
#NET "ssram_a<9>"     LOC = "";
#NET "ssram_a<10>"    LOC = "";
#NET "ssram_a<11>"    LOC = "";
#NET "ssram_a<12>"    LOC = "";
#NET "ssram_a<13>"    LOC = "";
#NET "ssram_a<14>"    LOC = "";
#NET "ssram_a<15>"    LOC = "";
#NET "ssram_a<16>"    LOC = "";
#NET "ssram_a<17>"    LOC = "";
#NET "ssram_a<18>"    LOC = "";
#NET "ssram_a<19>"    LOC = "";
#NET "ssram_a<20>"    LOC = "";
#NET "ssram_d<0>"     LOC = "";
#NET "ssram_d<1>"     LOC = "";
#NET "ssram_d<2>"     LOC = "";
#NET "ssram_d<3>"     LOC = "";
#NET "ssram_d<4>"     LOC = "";
#NET "ssram_d<5>"     LOC = "";
#NET "ssram_d<6>"     LOC = "";
#NET "ssram_d<7>"     LOC = "";
#NET "ssram_d<8>"     LOC = "";
#NET "ssram_d<9>"     LOC = "";
#NET "ssram_d<10>"    LOC = "";
#NET "ssram_d<11>"    LOC = "";
#NET "ssram_d<12>"    LOC = "";
#NET "ssram_d<13>"    LOC = "";
#NET "ssram_d<14>"    LOC = "";
#NET "ssram_d<15>"    LOC = "";
#NET "ssram_dp<0>"    LOC = "";
#NET "ssram_dp<1>"    LOC = "";

#---------------------
# Expansion (JP2-XBUS)
#---------------------
#NET "xbus<0>"       LOC = ""; # JP2_
#NET "xbus<1>"       LOC = ""; # JP2_
#NET "xbus<2>"       LOC = ""; # JP2_
#NET "xbus<3>"       LOC = ""; # JP2_
#NET "xbus<4>"       LOC = ""; # JP2_
#NET "xbus<5>"       LOC = ""; # JP2_
#NET "xbus<6>"       LOC = ""; # JP2_
#NET "xbus<7>"       LOC = ""; # JP2_
#NET "xbus<8>"       LOC = ""; # JP2_
#NET "xbus<9>"       LOC = ""; # JP2_
#NET "xbus<10>"      LOC = ""; # JP2_
#NET "xbus<11>"      LOC = ""; # JP2_
#NET "xbus<12>"      LOC = ""; # JP2_
#NET "xbus<13>"      LOC = ""; # JP2_
#NET "xbus<14>"      LOC = ""; # JP2_
#NET "xbus<15>"      LOC = ""; # JP2_
#NET "xbus<16>"      LOC = ""; # JP2_
#NET "xbus<17>"      LOC = ""; # JP2_
#NET "xbus<18>"      LOC = ""; # JP2_
#NET "xbus<19>"      LOC = ""; # JP2_
#NET "xbus<20>"      LOC = ""; # JP2_
#NET "xbus<21>"      LOC = ""; # JP2_
#NET "xbus<22>"      LOC = ""; # JP2_
#NET "xbus<23>"      LOC = ""; # JP2_
#NET "xbus<24>"      LOC = ""; # JP2_
#NET "xbus<25>"      LOC = ""; # JP2_
#NET "xbus<26>"      LOC = ""; # JP2_
#NET "xbus<27>"      LOC = ""; # JP2_
#NET "xbus<28>"      LOC = ""; # JP2_
#NET "xbus<29>"      LOC = ""; # JP2_
#NET "xbus<30>"      LOC = ""; # JP2_
#NET "xbus<31>"      LOC = ""; # JP2_
#NET "xbus<32>"      LOC = ""; # JP2_
#NET "xbus<33>"      LOC = ""; # JP2_
#NET "xbus<34>"      LOC = ""; # JP2_
#NET "xbus<35>"      LOC = ""; # JP2_
#NET "xbus<36>"      LOC = ""; # JP2_
#NET "xbus<37>"      LOC = ""; # JP2_
#NET "xbus<38>"      LOC = ""; # JP2_
#NET "xbus<39>"      LOC = ""; # JP2_
#NET "xbus<40>"      LOC = ""; # JP2_
#NET "xbus<41>"      LOC = ""; # JP2_
#NET "xbus<42>"      LOC = ""; # JP2_
#NET "xbus<43>"      LOC = ""; # JP2_
#NET "xbus<44>"      LOC = ""; # JP2_
#NET "xbus<45>"      LOC = ""; # JP2_
#NET "xbus<46>"      LOC = ""; # JP2_
#NET "xbus<47>"      LOC = ""; # JP2_
#NET "xbus<48>"      LOC = ""; # JP2_
#NET "xbus<49>"      LOC = ""; # JP2_
#NET "xbus<50>"      LOC = ""; # JP2_
#NET "xbus<51>"      LOC = ""; # JP2_
#NET "xbus<52>"      LOC = ""; # JP2_
#NET "xbus<53>"      LOC = ""; # JP2_
#NET "xbus<54>"      LOC = ""; # JP2_
#NET "xbus<55>"      LOC = ""; # JP2_
#NET "xbus<56>"      LOC = ""; # JP2_
#NET "xbus<57>"      LOC = ""; # JP2_
#NET "xclk1"         LOC = ""; # JP2_
#NET "xclk2"         LOC = ""; # JP2_


#---------------------
# Expansion (JP3-YBUS)
#---------------------
#NET "ybus<0>"       LOC = ""; # JP3_
#NET "ybus<1>"       LOC = ""; # JP3_
#NET "ybus<2>"       LOC = ""; # JP3_
#NET "ybus<3>"       LOC = ""; # JP3_
#NET "ybus<4>"       LOC = ""; # JP3_
#NET "ybus<5>"       LOC = ""; # JP3_
#NET "ybus<6>"       LOC = ""; # JP3_
#NET "ybus<7>"       LOC = ""; # JP3_
#NET "ybus<8>"       LOC = ""; # JP3_
#NET "ybus<9>"       LOC = ""; # JP3_
#NET "ybus<10>"      LOC = ""; # JP3_
#NET "ybus<11>"      LOC = ""; # JP3_
#NET "ybus<12>"      LOC = ""; # JP3_
#NET "ybus<13>"      LOC = ""; # JP3_
#NET "ybus<14>"      LOC = ""; # JP3_
#NET "ybus<15>"      LOC = ""; # JP3_
#NET "ybus<16>"      LOC = ""; # JP3_
#NET "ybus<17>"      LOC = ""; # JP3_
#NET "ybus<18>"      LOC = ""; # JP3_
#NET "ybus<19>"      LOC = ""; # JP3_
#NET "ybus<20>"      LOC = ""; # JP3_
#NET "ybus<21>"      LOC = ""; # JP3_
#NET "ybus<22>"      LOC = ""; # JP3_
#NET "ybus<23>"      LOC = ""; # JP3_
#NET "ybus<24>"      LOC = ""; # JP3_
#NET "ybus<25>"      LOC = ""; # JP3_
#NET "ybus<26>"      LOC = ""; # JP3_
#NET "ybus<27>"      LOC = ""; # JP3_
#NET "ybus<28>"      LOC = ""; # JP3_
#NET "ybus<29>"      LOC = ""; # JP3_
#NET "ybus<30>"      LOC = ""; # JP3_
#NET "ybus<31>"      LOC = ""; # JP3_
#NET "ybus<32>"      LOC = ""; # JP3_
#NET "ybus<33>"      LOC = ""; # JP3_
#NET "ybus<34>"      LOC = ""; # JP3_
#NET "ybus<35>"      LOC = ""; # JP3_
#NET "ybus<36>"      LOC = ""; # JP3_
#NET "ybus<37>"      LOC = ""; # JP3_
#NET "ybus<38>"      LOC = ""; # JP3_
#NET "ybus<39>"      LOC = ""; # JP3_
#NET "ybus<40>"      LOC = ""; # JP3_
#NET "ybus<41>"      LOC = ""; # JP3_
#NET "ybus<42>"      LOC = ""; # JP3_
#NET "ybus<43>"      LOC = ""; # JP3_
#NET "ybus<44>"      LOC = ""; # JP3_
#NET "ybus<45>"      LOC = ""; # JP3_
#NET "ybus<46>"      LOC = ""; # JP3_
#NET "ybus<47>"      LOC = ""; # JP3_
#NET "ybus<48>"      LOC = ""; # JP3_
#NET "ybus<49>"      LOC = ""; # JP3_
#NET "ybus<50>"      LOC = ""; # JP3_
#NET "ybus<51>"      LOC = ""; # JP3_
#NET "ybus<52>"      LOC = ""; # JP3_
#NET "ybus<53>"      LOC = ""; # JP3_
#NET "ybus<54>"      LOC = ""; # JP3_
#NET "ybus<55>"      LOC = ""; # JP3_
#NET "ybus<56>"      LOC = ""; # JP3_
#NET "ybus<57>"      LOC = ""; # JP3_
#NET "yclk1"         LOC = ""; # JP3_
#NET "yclk2"         LOC = ""; # JP3_
